@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.about{
    width: 100%;
    height: 1298px;
    background-image: url("../images/background-about.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.aboutContent{
    width: 67%;
    height: 954px;
    margin: 228px 16.5% 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.aboutContnetmain{
    width: 100%;
    height: 872px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftContent{
    width: 48.75%;
    height: 100%;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aboutContnetTitle{
    width: 100%;
    height: 34px;
}
.aboutContnetTitle > span{
    color: #F16D35;
    font-family: "Roboto Slab",sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}
.leftContentAboutTextTop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 658px;
}
.leftContentAboutTextTop > span{
    color: #FFF;
    font-family: "Roboto Slab",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.leftContentAboutTextBottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 182px;
}
.leftContentAboutTextBottom > span{
    color: #FFF;
    font-family: "Roboto Slab",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}
.mainTextLeftContent{
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
/*.mainTextLeftContent > p{*/
/*    margin-bottom: 0px;*/
/*}*/

.leftContent p{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.rightContent{
    width: 48.75%;
    height: 100%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;

}
.rightContentTop{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightContentTop p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-align: justify;
    color: #FFFFFF;
}
.rightContentTop > span{
    color: #FFF;
    font-family: "Roboto Slab",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.rightContentMainText{
    width: 100%;
    height: 404px;
}
.rightContentMainText > p{
    margin-bottom: 0px;
}
.rightContentBottom{
    margin-top: 18px;
    width: 86.37%;
    height: 374px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rightContentInfoShapeLeft{
    width: 364px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightContentInfoShapeRight{
    width: 143px;
    height: 354px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shapeLeft{
    background: #ACCBE6;
    width: 100%;
    height: 84px;
    border-radius: 18px;
}
.mainLeftShapeField{
    margin: 13px auto;
    width: 301px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mainLeftShapeFieldTexts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 225px;
    height: 58px;
}
.mainLeftShapeOther{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 225px;
    height: 58px;
}
.mainLeftShapeOther > span{
    color: #1C5484;
    font-family: "Roboto",sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.spanText{
    color: #1C5484;
    font-family: "Roboto",sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.shapeFirstTitle{
    color:  #1C5484;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.shapeSecondTitle{
    color: #1C5484;
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.shapeRight{
    background: #ACCBE6;
    width: 100%;
    height: 171px;
    border-radius: 18px;
}
.shapeRightMainField{
    width: 119px;
    height: 147px;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.shapeRightMainFieldText{
    width: 119px;
    height: 63px;
}
.rightShapeTextBig{
    color: #1C5484;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.rightShapeTextSmall{
    color: #1E5586;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px
}
.shapeRightBottomText{
    width: 122px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.rightShapeBottomTextBig{
    color: #1C5484;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 92px;
    height: 50px;
}
.rightShapeBottomTextSmall{
    color: #1C5484;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*.rightContent .rightContentBottom .div1,*/
/*.rightContent .rightContentBottom .div2,*/
/*.rightContent .rightContentBottom .div3{*/
/*    background: var(--40, #ACCBE6);*/
/*    width: 363.91px;*/
/*    height: 83.73px;*/
/*    top: 39.41px;*/
/*    border-radius: 18px;*/
/*    display: flex;*/
/*    !*justify-content: center;*!*/
/*    padding-left: 29px;*/
/*    align-items: center;*/
/*}*/
/*.rightContent .rightContentBottom .div1 img,*/
/*.rightContent .rightContentBottom .div2 img,*/
/*.rightContent .rightContentBottom .div3 img{*/
/*    padding: 7px 6px 7px 6px;*/
/*    gap: 10px;*/
/*    border-radius: 12.24px 0px 0px 0px;*/
/*}*/
/*.rightContent .rightContentBottom .div1 h3 {*/
/*    font-family: 'Roboto';*/
/*    font-size: 20px;*/
/*    font-weight: 400;*/
/*    line-height: 34px;*/
/*    text-align: left;*/
/*    color: var(--30, #1C5484);*/
/*}*/
/*.rightContent .rightContentBottom .div1 h1 {*/
/*    font-family: 'Roboto';*/
/*    font-size: 24px;*/
/*    font-weight: 700;*/
/*    line-height: 28.13px;*/
/*    text-align: left;*/
/*    color: var(--30, #1C5484);*/
/*}*/
/*.rightContent .rightContentBottom .div2 h1 {*/
/*    font-family: 'Roboto';*/
/*    font-size: 25px;*/
/*    font-weight: 700;*/
/*    line-height: 29.3px;*/
/*    text-align: left;*/
/*    color: var(--30, #1C5484);*/
/*}*/
/*.rightContent .rightContentBottom .div3 h1 {*/
/*    font-family: 'Roboto';*/
/*    font-size: 22px;*/
/*    font-weight: 700;*/
/*    line-height: 25.78px;*/
/*    text-align: left;*/
/*    color: var(--30, #1C5484);*/
/*}*/
/*.rightContentBottomR{*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.rightContent .rightContentBottomR .div4,*/
/*.rightContent .rightContentBottomR .div5{*/
/*    background: var(--40, #ACCBE6);*/
/*    width: 143px;*/
/*    height: 171px;*/
/*    left: 375.91px;*/
/*    padding: 12px 0px 0px 0px;*/
/*    border-radius: 18px;*/
/*    text-align: center;*/
/*}*/
/*.rightContent .rightContentBottom .div4 h1 {*/
/*    font-family: 'Roboto';*/
/*    font-size: 25px;*/
/*    font-weight: 700;*/
/*    line-height: 29.3px;*/
/*    text-align: center;*/
/*    color: var(--30, #1C5484);*/
/*}*/
/*.rightContent .rightContentBottom .div4 h3 {*/
/*    font-family: 'Roboto';*/
/*    font-size: 20px;*/
/*    font-weight: 400;*/
/*    line-height: 34px;*/
/*    text-align: center;*/
/*    color: var(--40, #1C5484);*/
/*}*/
/*.rightContent .rightContentBottom .div5 h1 {*/
/*    font-family: 'Roboto';*/
/*    font-size: 25px;*/
/*    font-weight: 700;*/
/*    line-height: 29.3px;*/
/*    text-align: center;*/
/*    color: var(--30, #1C5484);*/
/*}*/
/*.rightContent .rightContentBottom .div5 h3 {*/
/*    font-family: 'Roboto';*/
/*    font-size: 20px;*/
/*    font-weight: 400;*/
/*    line-height: 34px;*/
/*    text-align: center;*/
/*    color: var(--40, #1C5484);*/
/*}*/