@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.about{
    width: 100%;
    height: 1298px;
    background-image: url("../images/background-about.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.backButton{
    display: none;
}
.aboutContent{
    width: 67%;
    /*height: 954px;*/
    margin: 228px 16.5% 0px;
    position: absolute;
    display: flex;
    gap: 48px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.aboutContnetmain{
    width: 100%;
    /*height: 872px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftContent{
    width: 48.75%;
    height: 100%;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aboutContnetTitle{
    width: 100%;
    height: 34px;
    color: #F16D35;
    font-family: "Roboto Slab",sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}
.leftContentAboutTextTop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 82%;
}
.leftContentAboutTextTop > span{
    color: #FFF;
    font-family: "Roboto Slab",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.leftContentAboutTextBottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 18% ;
}
.leftContentAboutTextBottom > span{
    color: #FFF;
    font-family: "Roboto Slab",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}
.mainTextLeftContent{
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.leftContent p{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.rightContent{
    width: 48.75%;
    height: 100%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;

}
.rightContentTop{
    width: 100%;
    /*height: 450px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightContentTop p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-align: justify;
    color: #FFFFFF;
}
.rightContentTop > span{
    color: #FFF;
    font-family: "Roboto Slab",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.rightContentMainText{
    width: 100%;
    height: 404px;
}
.rightContentMainText > p{
    margin-bottom: 0px;
}
.rightContentBottom{
    margin-top: 18px;
    width: 86.37%;
    height: 374px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rightContentInfoShapeLeft{
    width: 364px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightContentInfoShapeRight{
    width: 143px;
    height: 354px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shapeLeft{
    background: #ACCBE6;
    width: 100%;
    height: 84px;
    border-radius: 18px;
}
.mainLeftShapeField{
    margin: 13px auto;
    width: 301px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mainLeftShapeFieldTexts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 225px;
    height: 58px;
}
.mainLeftShapeOther{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 225px;
    height: 58px;
}
.mainLeftShapeOther > span{
    color: #1C5484;
    font-family: "Roboto",sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.spanText{
    color: #1C5484;
    font-family: "Roboto",sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.shapeFirstTitle{
    color:  #1C5484;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.shapeSecondTitle{
    color: #1C5484;
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.shapeRight{
    background: #ACCBE6;
    width: 100%;
    height: 171px;
    border-radius: 18px;
}
.shapeRightMainField{
    width: 119px;
    height: 147px;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.shapeRightMainFieldText{
    width: 119px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.rightShapeTextBig{
    color: #1C5484;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.rightShapeTextSmall{
    color: #1E5586;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px
}
.shapeRightBottomText{
    width: 122px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.rightShapeBottomTextBig{
    color: #1C5484;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 92px;
    height: 50px;
}
.rightShapeBottomTextSmall{
    color: #1C5484;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media screen and (max-width: 1600px) {
    .leftContent p {
        font-size: 1.05vw;
    }
    .rightContentTop p {
        font-size: 1.05vw;
    }
    .rightContentBottom {
        width: 100%;
    }
}
@media screen and (max-width: 1450px){
    .leftContent p {
        font-size: 1.17vw;
    }
    .rightContentTop p {
        font-size: 1.17vw;
    }
    .mainLeftShapeField {
        margin: 13px 13px;
        gap: 16px;
    }
    .rightContentBottom {
        margin-top: 0;
        width: 72.37%;
        height: 100%;
        display: flex;
        gap: 14px;
        flex-direction: column;
    }
    .rightContentInfoShapeLeft{
        width: auto;
    }
    .rightContentInfoShapeRight {
        width: auto;
        height: 100%;
        margin: 0;
        display: flex;
        gap: 10px;
        flex-direction: row;
    }
    .rightContentTop, .rightContentMainText {
        height: auto;
    }
    .rightContentBottom {
        width: auto;
    }
}
@media screen and (max-width: 1100px) {
    .aboutContent {
        width: auto;
        margin: 102px 6.9% 0px 6.8%;
        gap: 20px;
    }
    .aboutContnetTitle{
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        text-align: left;
    }
    .backButton {
        width: 20.02px;
        height: 19.99px;
        display: block;
    }
    .leftContentAboutTextTop > span{
        font-size: 16px;
        line-height: 34px;
    }
    .leftContent p{
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 400;
        line-height: 20.51px;
        text-align: left;
    }
    .aboutContnetmain {
        flex-direction: column;
    }
    .leftContent {
        width: auto;
    }
    .historyContent{
        display: flex;
        flex-direction: row;
        gap: 64px;
    }
    .shapeRight{
        height: auto;
    }
    .shapeRightMainField{
        width: 106px;
        height: 111px;
        padding: 12px;
        border-radius: 18px;
    }
    .shapeRightMainField img{
        width: 43px;
        height: 44px;
        padding: 4px 0px 0px 0px;
    }
    .rightShapeTextBig, .rightShapeBottomTextBig{
        font-size: 15px;
        line-height: 17.58px;
    }
    .rightShapeTextSmall, .rightShapeBottomTextSmall{
        font-size: 14px;
        line-height: 16.41px;
    }
    .shapeRightMainField img{
        width: 40.91px;
        height: 40.91px;
    }
    .bottom1{
        height: 140px;
    }
    .rightContent {
        width: auto;
        flex-direction: row;
        align-items: normal;
        gap: 24px;
        padding-top: 17px;
    }
    .rightContentTop {
        width: 50%;
    }
    .rightContentBottom {
        width: 50%;
    }
    .rightContentTop > span{
        font-size: 16px;
        line-height: 34px;
    }
    .rightContentInfoShapeRightValue > span{
        color: #FFF;
        font-family: "Roboto Slab",sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
    }
    .rightContentTop p{
        font-size: 15px;
        font-weight: 400;
        line-height: 20.51px;
        text-align: left;
    }
    .mainTextLeftContent{
        font-size: 15px;
        line-height: 20.51px;
        text-align: left;
    }
    .shapeLeft {
        width: max-content;
    }
    .mainLeftShapeField > img{
        width: 34px;
        height: 34px;
    }
    .shapeFirstTitle{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        text-align: left;
    }
    .shapeSecondTitle{
        font-size: 15px;
        line-height: 17.58px;
        text-align: left;
    }
    .mainLeftShapeField {
        width: 303.98px;
        height: 60px;
        border-radius: 10px;
        padding: 11.5px 56px 11.5px 43px;
        margin: 0;
        gap: 30px;
    }
    .rightContentInfoShapeLeft {
        gap: 8.5px;
    }
    .mainLeftShapeOther > span, .spanText{
        font-family: Roboto;
        font-size: 15px;
        font-weight: 700;
        line-height: 17.58px;
        text-align: left;
    }
    .mainLeftShapeFieldTexts {
        height: -webkit-fill-available;
    }
}