.alumni{
    width: 100%;
    height: 1330px;
    background-image: url("../images/background-alumni.png");
    padding-top: 158px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sectionAlumni{
    width: 67%;
    height: 1050px;
    margin: 37px auto 0 auto;
}
.backButton, .seeMoreAlumni{
    display: none;
}
.ellipseButton{
    display: none;
}
.alumniDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
}
.alumniTitle{
    color: #F16D35;
    height: 44px;
    font-family: 'Roboto_',sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 19px;
}
.alumniTxt{
    width: 56%;
    margin-bottom: 35px;
    font-family: 'Roboto_',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.slide-content {
    height: auto!important;
}
.card-content{
    width: 100%;
    /*height: auto;*/
    /*margin: 0 auto;*/
    overflow: hidden;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /*column-gap: 20px;*/
    /*row-gap: 20px;*/
}
.card_ {
    position: relative;
    background: #ACCBE6;
    border-radius: 30px;
    padding: 25px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    text-align: center;
    border: 1px;
    display: flex !important;
    justify-content: space-evenly;
    flex-direction: column;
}
.card-image {
    max-height: 80px;
}
.card-image img{
    max-width: 100%;
    height: auto;
}
.card-info{
    text-align: center;
    position: relative;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 204px;
}
.card-info p{
    margin: 0;
}
.card-info img{
    width: 21px;
    height: 21px;
}
.nameCard{
    color: #F16D35;
    font-family: "Roboto_",sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
.textCard{
    height: auto;
    font-family: 'Roboto_',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #1C5484;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.triangle-element {
    border-top: 100px solid var(--bg-color, #ACCBE6);
    border-right: 100px solid transparent;
}

.swiper {
    height: 890px!important;
}
.swiper-wrapper {
    align-items: center;
    height: 90%!important;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 100%;
    display: flex;
    justify-content: center;
}
.slide-content {
    height: 500px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: auto;
}
:root {
    --swiper-theme-color: #F36528!important;
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px))!important;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px))!important;
}
@media screen and (max-width: 1750px) {
    .swiper {
        height: 850px !important;
    }
}
@media screen and (max-width: 1700px) {
    .swiper {
        height: 800px !important;
    }
    .alumni {
        height: 1280px;
    }
}
@media screen and (max-width: 1550px) {
    .alumni {
        height: 1240px;
    }
    .alumniTxt {
        width: 75%;
    }
    .swiper-slide{
        width: 277.179px !important;
    }
    .textCard{
        -webkit-line-clamp: 5;
    }
    .nameCard {
        font-size: 20px;
        line-height: 17px;
    }
    .swiper {
        width: 900px;
    }
}
@media screen and (max-width: 1500px) {
    .card-info {
        padding: 10px 20px 20px;
    }
}
@media screen and (max-width: 1339.5px) {
    .alumni {
        height: 1140px;
    }
    .textCard{
        -webkit-line-clamp: 4;
    }
    .swiper-slide {
        width: 240.179px !important;
    }
    .swiper {
        width: 820px;
        height: 700px !important;
    }
    .card_ {
        padding: 14px;
    }
    .card-info {
        height: 170px;
        padding: 10px 0px 20px;
    }
}
@media screen and (max-width: 1279px) {
    .alumni {
        height: 1170px;
    }
}
@media screen and (max-width: 1180px) {
    .swiper{
        width: 560px;
    }
}
@media screen and (max-width: 1100px) {
    .alumni {
        height: 900px;
        padding-top: 61px;
    }
    .sectionAlumni {
        width: auto;
        height: 748px;
        margin: 25px 6.9% 0px 6.8%;
    }
    .backButton {
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
    }
    .alumniTitleAll{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .alumniDiv {
        margin-bottom: 28px;
    }
    .alumniTitle{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.02em;
        text-align: center;
        margin: 0;
    }
    .alumniTxt{
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        text-align: center;
        margin: 0;
    }
    .card-image img{
        width: 61px;
        height: 60px;
        border-radius: 40px;
    }
    .nameCard{
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        margin: 0;
    }
    .textCard{
        font-size: 13px;
        font-weight: 400;
        line-height: 15.23px;
        text-align: center;
        height: auto;
        margin: 0;
    }
    .card-info img{
        width: 20px;
        height: 20px;
    }
    .swiper-slide {
        width: 203px !important;
        height: 255px !important;
        padding: 16px;
    }
    .swiper {
        width: 100%;
        height: 600px !important;
    }
}
@media screen and (max-width: 1000px){
    .swiper {
        width: 652px;
    }
}
@media screen and (max-width: 780px){
    .swiper {
        width: 440px;
    }
}
@media screen and (max-width: 600px){
    .ellipseButton {
        display: block;
        position: absolute;
    }
    .backButton {
        width: 30px;
        height: 30px;
    }
    .alumni{
        height: auto;
        background: #5D9A9D;
    }
    .swiper {
        width: 100%;
        height: auto !important;
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .sectionAlumni {
        height: auto;
        padding-bottom: 70px;
    }
    .hideMobile{
        display: none !important;
    }
    .swiper-pagination{
        display: none;
    }
    .swiper-wrapper{
        gap: 30px;
        flex-direction: column;
    }
    .seeMoreAlumni{
        display: block;
        width: 30px;
        height: 30px;
        margin-top: 30px;
    }
}