.alumni{
    width: 100%;
    height: min-content;
    background-image: url("../images/background-alumni.png");
    padding-top: 158px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 90px;
}
.sectionAlumni{
    width: 67%;
    height: 1050px;
    margin: 37px auto 0 auto;
}
.backButton{
    display: none;
}
.ellipseButton{
    display: none;
}
.alumniDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
}
.alumniTitle{
    color: #F16D35;
    height: 44px;
    font-family: 'Roboto_',sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 19px;
}
.alumniTxt{
    width: 56%;
    margin-bottom: 35px;
    font-family: 'Roboto_',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.slide-content {
    height: auto!important;
}
.card-content{
    width: 100%;
    overflow: hidden;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.card_ {
    position: relative;
    background: #ACCBE6;
    border-radius: 30px;
    padding: 25px;
    box-shadow: 0px 1px 6px 1px #1C548440;
    text-align: center;
    border: 1px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 294px !important;
    height: 396px !important;
}
.card-image {
    height: 81px;
    width: 81px;
    margin: 0px auto;
    border-radius: 50px;
    overflow: auto;
}
.card-image img{
    width: 100%;
    height: 100%;
}
.card-info{
    margin-top: 20px;
    text-align: center;
    position: relative;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 232px;
}
.card-info > a > img{
    width: 21px;
    height: 21px;
}
.nameCard{
    height: 57px;
    color: #F16D35;
    font-family: "Roboto_",sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
.textCard{
    height: 130px;
    font-family: 'Roboto_',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #1C5484;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.textCard > p{
    margin-bottom: 0px;
}
.triangle-element {
    border-top: 100px solid var(--bg-color, #ACCBE6);
    border-right: 100px solid transparent;
}

.swiper {
    height: 890px!important;
}
.swiper-wrapper {
    align-items: center;
    height: 100%!important;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 100%;
    display: flex;
    justify-content: center;
}
.slide-content {
    height: 500px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: auto;
}
:root {
    --swiper-theme-color: #F36528!important;
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px))!important;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px))!important;
}
@media screen and (max-width: 1750px) {
    .swiper {
        height: 890px !important;
    }
}
@media screen and (max-width: 1550px) {
    .alumniTxt {
        width: 75%;
    }
    .swiper-slide{
        width: 277.179px !important;
    }
    .textCard{
        -webkit-line-clamp: 6;
    }
    .nameCard {
        font-size: 20px;
    }
    .swiper {
        width: 900px;
    }
}
@media screen and (max-width: 1500px) {
    .card-info {
        height: 240px;
    }
    .textCard{
        height: 134px;
        -webkit-line-clamp: 6;
    }
}
@media screen and (max-width: 1339.5px) {
    .textCard{
        -webkit-line-clamp: 6;
    }
    .swiper-slide {
        width: 240.179px !important;
    }
    .swiper {
        width: 820px;
        height: 890px !important;
    }
    .card_ {
        padding: 14px;
    }
    .card-info {
        height: 240px;
    }
}
@media screen and (max-width: 1180px) {
    .swiper{
        width: 780px;
        height: 910px !important;

    }
}
@media screen and (max-width: 1100px) {
    .card-image {
        height: 61px;
        width: 61px;
    }
    .alumni {
        height: min-content;
        padding-top: 61px;
        padding-bottom: 50px;
    }
    .alumniBackButton{
        display: contents;
    }
    .sectionAlumni {
        width: auto;
        height: 748px;
        margin: 25px 6.9% 20px 6.8%;
    }
    .backButton {
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
    }
    .alumniTitleAll{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .alumniDiv {
        margin-bottom: 28px;
    }
    .alumniTitle{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.02em;
        text-align: center;
        margin: 0;
    }
    .alumniTxt{
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        text-align: center;
        margin: 0;
    }
    .nameCard{
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        margin: 0;
        height: 35px;
    }
    .textCard{
        font-size: 13px;
        font-weight: 400;
        line-height: 15.23px;
        text-align: center;
        height: 91px;
        margin: 0;
    }
    .card-info {
        margin-top: 15px;
        height: 170px;
    }
    .card-info > a > img{
        width: 20px;
        height: 20px;
    }
    .swiper-slide {
        width: 203px !important;
        height: 280px !important;
        padding: 16px;
    }
    .swiper {
        width: 100%;
        height: 640px !important;
    }
}
@media screen and (max-width: 1000px){
    .swiper {
        width: 652px;
    }
}
@media screen and (max-width: 780px){
    .swiper {
        width: 440px;
    }
}
@media screen and (max-width: 599px){
    .mobileAlumni > .card_{
        width: 240px;
        height: 300px;
        display: none;
    }
    .card_ {
        padding: 27px 14px;
        justify-content: space-between;
    }
    .card-info {
        margin-top: 20px;
        height: 240px;
    }
    .card-image {
        height: 81px;
        width: 81px;
    }
    .mobileAlumni{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .mobileAlumni > .card_{
        margin-bottom: 30px;
    }
    .mobileAlumni > .card_:nth-child(1),
    .mobileAlumni > .card_:nth-child(2){
        display: flex;
    }
    .ellipseButton {
        display: block;
        position: absolute;
    }
    .backButton {
        width: 30px;
        height: 30px;
    }
    .alumni{
        height: min-content;
        background: #5D9A9D;
        padding-bottom: 0px;
    }
    .swiper {
        display: none !important;
    }
    .sectionAlumni {
        height: min-content;
        margin-bottom: 0px;
    }
    .hideMobile{
        display: none !important;
    }
    .swiper-pagination{
        display: none;
    }
    .swiper-wrapper{
        gap: 30px;
        flex-direction: column;
    }
    .seeMoreAlumni{
        display: block;
    }
    .alumniBtnField{
        margin-bottom: 30px;
    }
    .nameCard {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        margin: 0;
        height: 57px;
    }
    .textCard {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        height: 135px;
        margin: 0;
    }
}
@media screen and (max-width: 375px) {
    .card_ {
        width: 250px !important;
        height: 360px !important;
    }
    .card-image {
        height: 61px;
        width: 61px;
    }
    .card-info {
        margin-top: 20px;
        height: 225px;
    }
    .nameCard {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        margin: 0;
        line-height: 20px;
        height: 45px;
    }
    .textCard {
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        height: 135px;
        margin: 0;
    }
}
@media screen and (min-width: 600px) {
    .mobileAlumni{
        display: none;
    }
}