
.applyOne{
    width: 100%;
    height: 1410px;
    background-image: url("../images/applyOneBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.appleFields{
    position: absolute;
    width: 66%;
    height: 1101px;
    margin: 212px 17% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 48px;
}
.appleFields > span{
    font-size: 36px;
    color: #F36528;
    font-family: 'Tahoma',sans-serif;
}
.appleFields > p{
    font-size: 20px;
    color: white;
    font-family: 'Tahoma',sans-serif;
    width: 100%;
    height: 48px;
}
.apllyInputFields{
    width: 622px;
    height: 819px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.radioFieldsBlocks{
    width: 622px;
    height: 179px;
    border-radius: 30px;
    background: #74A8AB;
    box-shadow: 0px 0px 6px 2px #549099;
}
.applyNameInput, .applyEmailInput, .applyPhoneInput{
    width: 100%;
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.applyNameInput  input{
    width: 100%;
    height: 62px;
    background: #74A8AB;
    border-radius: 31px;
    border:none;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 0px 26px;
    box-shadow: 0px 0px 6px 2px #549099;


}
.applyNameInput  label{
    font-size: 16px;
    color: white;
    margin-left:19px;

}
.applyEmailInput  input{
    width: 100%;
    height: 62px;
    background: #74A8AB;
    border-radius: 31px;
    border:none;
    font-size: 16px;
    color: white;
    padding: 0px 26px;
    outline: none;
    box-shadow: 0px 0px 6px 2px #549099;

}
.applyEmailInput  label{
    font-size: 16px;
    color: white;
    margin-left:19px;

}
.applyPhoneInput  input{
    width: 100%;
    height: 62px;
    background: #74A8AB;
    border-radius: 31px;
    border:none;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 0px 26px;
    box-shadow: 0px 0px 6px 2px #549099;

}
.applyPhoneInput  label{
    font-size: 16px;
    color: white;
    margin-left:19px;

}
.coursesFieldsRadio{
    width: 100%;
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.typeCoursesFields{
    width: 100%;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.radioFieldsBlocksType{
    width: 622px;
    height: 145px;
    border-radius: 30px;
    background: #74A8AB;
    box-shadow: 0px 0px 6px 2px #549099;
}
.coursesFieldsRadio  span{
    font-size: 16px;
    color: white;
    margin-left:19px;

}
.typeCoursesFields  span{
    font-size: 16px;
    color: white;
    margin-left:19px;

}
.coursesBlocksRadio{
    width: 384px;
    height: 139px;
    margin: 20px 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.coursesBlocksRadio > div > label{
    color: white;
    font-size: 16px;
    margin-left:28px;
}
.coursesBlocksRadio > div{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.coursesBlocksRadio > div > input{
    width: 18px;
    height: 18px;
    accent-color: #F36528;
}
.typeCoursesBlocksRadio{
    width: 148px;
    height: 99px;
    margin: 23px 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.typeCoursesBlocksRadio > div > label{
    color: white;
    font-size: 16px;
    margin-left:28px;
}
.typeCoursesBlocksRadio > div{
    display: flex;
    flex-direction: row;
}
.typeCoursesBlocksRadio > div > input{
    width: 18px;
    height: 18px;
    accent-color: #F36528;
}
.individual{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}
.mainIndividual{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mainIndividual > input{
    min-width: 18px;
    height: 18px;
    accent-color: #F36528;
}
.mainIndividual > label{
    color: white;
    font-size: 16px;
    margin-left:28px;
}
.individualChildFields{
    width: 120px;
    height: 59px;
    margin: 21px 0px 0px 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display:none;
}
.individualChildFields > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.individualChildFields > div > label{
    color: white;
    font-size: 16px;
    margin-left:22px;
}
.individualChildFields > div > input{
    width: 18px;
    height: 18px;
    accent-color: #F36528;
}
.group{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}
.mainGroup{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.mainGroup > input{
    width: 18px;
    height: 18px;
    accent-color: #F36528;
}
.mainGroup > label{
    color: white;
    font-size: 16px;
    margin-left:28px;
}
.groupChildFields{
    width: 120px;
    height: 59px;
    margin: 21px 0px 0px 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display:none;
}
.groupChildFields > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.groupChildFields > div > label{
    color: white;
    font-size: 16px;
    margin-left:22px;
}
.groupChildFields > div > input{
    width: 18px;
    height: 18px;
    accent-color: #F36528;
}
.corporate{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}
.mainCorporate{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mainCorporate > input{
    min-width: 18px;
    height: 18px;
    accent-color: #F36528;
}
.mainCorporate > label{
    color: white;
    font-size: 16px;
    margin-left:28px;
}
.corporateChildFields{
    width: 120px;
    height: 59px;
    margin: 21px 0px 0px 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display:none;
}
.corporateChildFields > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.corporateChildFields > div > label{
    color: white;
    font-size: 16px;
    margin-left:22px;
}
.corporateChildFields > div > input{
    width: 18px;
    height: 18px;
    accent-color: #F36528;
}
.applyNowBtnField > button{
    background: transparent;
    border: none;
    position: relative;
}
.applyNowBtnField > button > img{
    width: 202px;
    height: 80px;
}
.applyNowBtnField > button:hover img{
    content: url("../images/applySendBtnhover.png");
}
.applyNowBtnField > button > span{
    color: #F36528;
    font-size: 16px;
    font-weight: 700;
    font-family: "Tahoma",sans-serif;
    position: absolute;
    top: 28px;
    width: 100%;
    text-align: center;
    left: 0px;
}
.applyNowBtnField > button:hover span{
    color: white;
}
.application{
    width: 100%;
    height: 1080px;
    background-image: url("../images/applicationBg.png");
    background-repeat: no-repeat;
    display: flex;
}
.applicationTextFields{
    width: 67%;
    /* height: 264px; */
    /* position: absolute; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 58px;
}
.applyApplicationTexts{
    width: 100%;
    height: 127px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.applicationTitle{
    font-size: 36px;
    color: white;
}
.applicationTextUnderline{
    font-size: 36px;
    color: white;
    text-decoration: underline;
}
.applicationButton > a{
    color: #F36528;
    font-size: 16px;
    font-weight: 700;
    font-family: "Tahoma",sans-serif;
    width: 100%;
    text-align: center;
    position: relative;
}
.applicationButton div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.applicationButton > a:hover div{
    color: white;
}
.applicationButton > a:hover img{
    content: url("../images/applicationBtnhover.png");
}
@media screen and (max-width: 1150px) {
    .applicationTitle {
        font-size: 33px;
    }
    .applicationTextUnderline {
        font-size: 33px;
    }
}
@media screen and (max-width: 1100px) {
    .applyOne {
        padding-top: 94px;
        padding-bottom: 65px;
        height: max-content;
    }
    .appleFields{
        width: auto;
        height: 987.38px;
        gap: 24px;
        position: relative;
        margin: 0 6.9% 0px 6.8%;
    }
    .appleFields > span{
        font-size: 20px;
        font-weight: 400;
        line-height: 24.14px;
        text-align: left;
    }
    .appleFields > p{
        font-size: 16px;
        font-weight: 400;
        line-height: 19.31px;
        text-align: left;
        margin-bottom: 0;
    }
    .applyNameInput label{
        font-size: 16px;
        font-weight: 400;
        line-height: 19.31px;
        text-align: left;
    }
    .applyNowBtnField > button > img{
        width: 123.19px;
        height: 48px;
    }
    .applyNowBtnField > button > span{
        font-size: 10px;
        font-weight: 700;
        line-height: 12.07px;
        top: 18px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .applicationTitle{
        font-size: 25px;
        font-weight: 400;
        line-height: 30.18px;
        text-align: center;
    }
    .applicationTextUnderline{
        font-size: 25px;
        font-weight: 400;
        line-height: 30.18px;
        text-align: center;
    }
    .applicationButton img{
        width: 112.92px;
        height: 44px;
    }
    .applicationButton > a{
        font-size: 11px;
    }
    .applyApplicationTexts {
        justify-content: center;
        gap: 36px;
    }
    .applicationTextFields{
        gap: 48px;
        margin: 0px 6.9% 0px 6.8%;
        width: -webkit-fill-available;
    }
    .application {
        height: 520px;
    }
}


@media screen and (max-width: 900px) {
    .apllyInputFields {
        width: auto;
    }
    .radioFieldsBlocks,.radioFieldsBlocksType {
        width: auto;
    }
}
@media screen and (max-width: 600px) {
    .applyOne{
        background: #5D9A9D;
    }
}
@media screen and (max-width: 520px) {
    .appleFields > span{
        font-family: Tahoma;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.31px;
    }
    .appleFields > p{
        font-family: Tahoma;
        font-size: 15px;
        font-weight: 400;
        line-height: 18.11px;
        text-align: left;
        margin-bottom: 24px;
    }
    .applyNameInput, .applyEmailInput, .applyPhoneInput {
        height: 89px;
    }
    .coursesFieldsRadio {
        height: 206px;
    }
    .typeCoursesFields {
        height: 174px;
    }
    .applyNameInput label, .applyEmailInput label, .coursesFieldsRadio span, .typeCoursesFields span, .applyPhoneInput label{
        font-family: Tahoma;
        font-size: 15px;
        font-weight: 400;
        line-height: 18.11px;
        text-align: left;
    }
    .coursesBlocksRadio > div > label{
        font-family: Tahoma;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.31px;
        text-align: left;
    }
    .mainIndividual > input, .mainGroup > input, .mainCorporate > input {
        min-width: 15px;
        height: 15px;
    }
    .coursesBlocksRadio {
        width: auto;
    }
    #accounting, #trade{
        width: 15px;
        height: 15px;
    }
    .applyNowBtnField{
        width: 100%;
        justify-content: center;
        display: flex;
    }
}
@media screen and (max-width: 625px) {
    .applicationTitle{
        font-family: Tahoma;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.73px;
    }
    .applicationTextUnderline{
        font-family: Tahoma;
        font-size: 18px;
        font-weight: 400;
        line-height: 33.22px;
    }
    .application {
        height: 812px;
    }
    .applyApplicationTexts {
        gap: 10px;
        height: auto;
    }
    .applicationTextFields {
        gap: 82px;
    }
    .applicationButton > a{
        font-family: Tahoma;
        font-size: 10px;
        font-weight: 700;
        line-height: 12.07px;
    }
    .applicationButton img{
        width: 102.66px;
        height: 40px;
    }
}