.blog{
    width: 100%;
    height: 2068px;
    background-image: url("../images/background-blog.png");
    background-repeat: no-repeat;
    padding-top: 158px;
}
.title{
    display: flex;
    justify-content: center;
    height: 53px;
    margin-top: 48px;
    /*padding-bottom: 37.92px;*/
}
.backButton{
    display: none;
}
.blogTitle{
    font-family: Roboto Slab;
    font-size: 40px;
    font-weight: 900;
    line-height: 52.75px;
    letter-spacing: 0.05em;
    color: #F16D35;
    text-align: left;
}
.bodyBlog{
    padding-top: 48px;
    padding-bottom: 157px;
}
.mainBlog {
    position: relative;
    /*padding: 1rem 1rem 4rem;*/
    min-height: calc(100vh - 4rem);
}
.grid-container{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 21.66% 21.66% 21.66%;
}
.card_{
    height: 482px;
    background: #fff;
    margin: 0 10% 10% 0;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 30px;
    overflow: hidden;
}
.card-image img{
    width: 100%;
    height: auto;
}
.card-info{
    position: relative;
    padding: 21.61px;
    display: flex;
    height: 51%;
    flex-direction: column;
    gap: 12px;
}
.textCard{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    margin-bottom: 0;
    color: #1C5484;
}
.date{
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #555555;
    margin-bottom: 0;

}
.divImg {
    /*height: 46px;*/
    /*text-align: -webkit-auto;*/
    height: 43px;
    /*width: 74%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.divImg a{
    color: #F36528;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 500;
    line-height: 22.27px;
    text-align: left;
}
/*.divImg img{*/
/*    !*width: 43px;*!*/
/*    !*height: 43px;*!*/
/*    margin-right: 20px;*/
/*    float: right;*/
/*}*/
.hidden {
    display: none;
}
.pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    position: absolute;
    /*bottom: 0;*/
    /*padding: 0;*/
    padding-top: 38px;
    justify-content: center;
}
.pagination-number{
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    background-color: transparent;
    color: #FF782D;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 1px solid #EAEAEA;
}
.pagination-button{
    font-size: 1.1rem;
    color: #EAEAEA;
    background-color: transparent;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 1px solid #EAEAEA;
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: #fff;
    outline: none;
}
.pagination-number.active {
    border: none;
    color: #fff;
    background: #FF782D;
    outline: none;
}

.triangle-element {
    width: 0;
    height: 0;
    border-top: 100px solid var(--bg-color, #ACCBE6);
    border-right: 100px solid transparent;
}
/*LIKE*/
.heart2{
    width: 25.63px;
    height: 21.96px;
}
.like-container{
    filter: url('#filter');
    display: inline-block;
}
.like-cnt{
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 100%;
    transform: translate(-105%, -55%)!important;
    width: 42px;
    height: 42px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    z-index: 10;
}
.like-btn{
    color: #fff;
}
::-moz-selection { background: transparent;}
::selection {background: transparent;}
.likeColor{
    border-color: #F36528;
}
@media screen and (max-width: 1900px){
    .card_ {
        height: 450px;
    }
}
@media screen and (max-width: 1800px){
    .card_ {
        height: 435px;
    }
}
@media screen and (max-width: 1600px){
    .card_ {
        height: 400px;
    }
    .card-info {
        padding: 15.61px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 195px;
    }
}
@media screen and (max-width: 1500px){
    .card_ {
        height: 380px;
    }
}
@media screen and (max-width: 1400px){
    .card_ {
        height: 370px;
    }
    .textCard {
        font-size: 16px;
    }
    .divImg a {
        font-size: 15px;
    }
    .card-info {
        gap: 10px;
    }
}
@media screen and (max-width: 1300px){
    .card_ {
        height: 340px;
    }
    .textCard {
        font-size: 16px;
    }
    .card-info {
        gap: 5px;
    }
}
@media screen and (max-width: 1200px){
    .textCard {
        font-size: 14px;
    }
}
@media screen and (max-width: 1100px) {
    .blog {
        padding-top: 104px;
    }
    .blogContent {
        width: auto;
        margin: 0px 6.9% 0px 6.8%;
    }
    .title{
        display: grid;
        height: 33px;
        padding: 0;
        /*margin: 43px 0 0 0;*/
    }
    .backButton {
        width: 20.02px;
        height: 19.99px;
        display: block;
        position: absolute;
    }
    .blogTitle{
        font-size: 25px;
        font-weight: 900;
        line-height: 32.97px;
        letter-spacing: 0.05em;
        text-align: left;
    }
    .mainBlog{
        padding: 0;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .card_ {
        height: 263px;
    }
    .textCard{
        font-size: 11px;
        font-weight: 400;
        line-height: 13.2px;
        text-align: left;
    }
    .date{
        font-family: Jost;
        font-size: 11px;
        font-weight: 400;
        line-height: 16.5px;
        text-align: left;
    }
    .card-info {
        padding: 9px 14px 12px 13px;
        height: 130px;
        gap: 5px;
    }
    .divImg a{
        color: #F36528;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.06px;
        text-align: left;
    }
    .heart2 {
        width: 17.63px;
        height: 13.96px;
    }
    .like-cnt {
        width: 28px;
        height: 28px;
        line-height: 25px;
    }
    .pagination-container {
        position: relative;
    }
    .card-image img::before {
        content: url("/images/blogImgT.png");
        /* other styles */
    }
}
@media  screen and (max-width: 960px) {
    .card-info {
        height: 147px;
    }
}
@media  screen and (max-width: 941px) {
    .card_ {
        height: 255px;
    }
}
@media  screen and (max-width: 927px) {
    .card_ {
        height: 290px;
    }
}
@media  screen and (max-width: 870px) {
    .card_ {
        height: 275px;
    }
}
/*@media screen and (max-width: 960px) {*/
/*    .card-info {*/
/*        height: 147px;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 870px) {*/
/*    .card_ {*/
/*        height: 254px;*/
/*    }*/
/*}*/