.courses{
    width: 100%;
    height: 1370px;
    background-image: url("/images/background-courses.png");
    background-repeat: no-repeat;
    padding-top: 158px;

}
.headerCourses{
    display: flex;
    justify-content: center;
}
.headerCourses div{
    width: 1171px;
    height: 58px;
    padding-top: 65.71px;
    text-align: center;
}
.txt1{
    font-family: Roboto Slab;
    font-size: 40px;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    color: #FFFFFF;
}
.txt2{
    font-family: Roboto Slab;
    font-size: 40px;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    color: #F36528;
}
.cardCourses{
    width: 66%;
    margin: 0px auto;
    padding-top: 114px;
}
.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3);
    gap: 32px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    width: 92%;
    height: 531px;
    list-style: none;
    background: #FFFFFF24;
    border-radius: 30px;
    display: flex;
    cursor: pointer;
    padding: 16px 17px 16px 17px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: start;
}
.cardBody{
    display: flex;
    padding: 0 20px;
}
.cardBody .span1{
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #FFFFFF;
}
.cardBody .span2{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: #FFFFFF;
}
.card .img {
    padding-bottom: 19px;
}
.card .img img {
    width: 100%;
}
.courses .title0{
    font-family: Roboto Slab;
    font-size: 40px;
    font-weight: 400;
    line-height: 58px;
    margin: 50px 0;
    text-align: center;
    /*margin-left: 319.99px;*/
    color: #FFFFFF;
}
.cardCourses2{
    width: 66%;
    margin: 0 auto;
}
.wrapper2 {
    width: 100%;
    position: relative;
}
.wrapper2 .carousel2 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 134px);
    gap: 134px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.carousel2::-webkit-scrollbar {
    display: none;
}
.carousel2 :where(.card2, .img2) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel2.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel2.no-transition {
    scroll-behavior: auto;
}
.carousel2.dragging .card2 {
    cursor: grab;
    user-select: none;
}
.carousel2 .card2 {
    width: 179px;
    scroll-snap-align: start;
    /*height: 229.4px;*/
    list-style: none;
    border-radius: 30px;
    display: flex;
    cursor: pointer;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.cardBody2{
    margin-top: 21px;
}
.cardBody2 .span1slider2{
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 700;
    line-height: 26.38px;
    text-align: left;
    color: #FFFFFF;
}
.cardBody2 .span2slider2{
    font-family: Roboto Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: left;
    color: #FFFFFF;
}
.cardCenter{
    padding: 20px;
}
.cardCenter > .cardtxt1{
    display: flex;
    width: 60%;
    height: 60px;
    text-align: center;

}
.cardCenter > .cardtxt1 img{
    width: 28px;
    height: 28px;
}
.cardtxt1 span{
    font-family: Roboto Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.84px;
    text-align: left;
    color: #FFFFFF;
}
.cardtxt1 span{
    margin-left: 17px;
    font-family: Roboto Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.84px;
    text-align: left;
    color: #FFFFFF;
}
.cardtxt2 span{
    margin-left: 17px;
    font-family: Roboto Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.84px;
    text-align: left;
    color: #FFFFFF;
}
.starAndTxt{
    margin-left: 13px;
}
