@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.errorText{
    color: red;
}
.signupFormTitle{
    display: none;
}
.login {
    width: 100%;
    height: 1088px;
    background-image: url("../images/background-sign-in.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginField{
    width: 58%;
    margin: 0px auto;
    height: 503px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.textCircle{
    width: 512px;
    height: 503px;
    background-image: url("../images/logincircle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.mainTextCircle{
    width: 285px;
    height: 185px;
    margin: 168px 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.circleTextTop{
    text-align: center;
    width: 100%;
    /*height: 141px;*/
    height: 120px;
    color: #1C5484;
    font-family: "Roboto Slab",sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}
.circleTextTop > span{
    color: #F36528;
    font-family: "Roboto Slab",sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}
.circleTextBottom{
    color: #1C5484;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 202px;
    height: 46px;
}

.signin{
    width: 406px;
    height: 339px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.signin > span{
    text-align: center;
    color: #FFF;
    font-family: "Roboto Slab",sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.6px;
}
.signinMenu{
    width: 100%;
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.passEye{
    width: 100%;
    height: 62px;
}
.passEye > img{
    position: absolute;
    right: 28px;
    margin-top: 20px;
}
.passEye > input{
    position: relative;
    width: 100%;
    height: 62px;
    background: #74A8AB;
    border: none;
    border-radius: 30px;
    padding: 0px 16px;
    color: #D9E3E4;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    outline: none;
}
.passEye > input::placeholder{
    color: #D9E3E4;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.signinMenu > input{
    width: 100%;
    height: 62px;
    background: #74A8AB;
    border: none;
    border-radius: 30px;
    padding: 0px 16px;
    color: #D9E3E4;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    outline: none;
}
.signinMenu > input::placeholder{
    color: #D9E3E4;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.rememberField{
    width: 89%;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rememberField > a{
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}
.container_signin{
    position: relative;
    background: transparent;
    border: none;
    margin-top: 20px;
}
.container_signin:hover img{
    content: url("../images/Vectorhover.png");
}
.container_signin > span{
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #F36528;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.container_signin:hover span{
    color: white;
}
.mainCheck{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mainCheck > label{
    margin-left: 10px;
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.signUp > span{
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.signUp > a{
    color: #F36528;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

/*.signupForm{*/
/*    width: 406px;*/
/*    height: 339px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/
.signupForm{
    width: 406px;
    height: 419px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.signupForm > span{
    color: #FFF;
    font-family: "Roboto Slab",sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.6px;
}
.signupMenu{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.signupMenu > input{
    width: 100%;
    height: 62px;
    background: #74A8AB;
    border: none;
    border-radius: 30px;
    padding: 0px 16px;
    color: #D9E3E4;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    outline: none;
}
.signupMenu > input::placeholder{
    color: #D9E3E4;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.rememberSignupField{
    width: 100%;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rememberSignupField > label{
    margin-left: 5px;
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.rememberSignupField > input:hover{
    cursor: pointer;
}

.rememberSignupField > label > a{
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.container_signup{
    position: relative;
    background: transparent;
    border: none;
}
.container_signup > span{
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #D9E3E4;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.loginFieldAm .circleTextTop{
    font-size: 25px;
}
.loginFieldAm .circleTextTop > span{
    font-size: 25px;
}
.loginFieldAm .circleTextBottom{
    font-size: 18px;
}
.loginFieldAm .mainTextCircle{
    height: 202px;
}
/*tablet sign in*/
@media only screen and (max-width: 1600px){
    .loginField {
        width: 67%;
    }
}
@media only screen and (min-width: 741px) and (max-width: 1024px) {
    .login {
        width: 100%;
        height: 581px;
        background-image: url("../images/signinTablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .loginFieldAm .container_signin > span {
        font-size: 11px;
    }
    .loginField {
        width: 71%;
        height: 324px;
        margin: 0 auto;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .textCircle {
        width: 330px;
        height: 324px;
        background-image: url(../images/logincircle.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .mainTextCircle {
        width: 160px;
        height: 130px;
        margin: 105px 102px 75px 81px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .circleTextTop {
        text-align: center;
        width: 100%;
        height: 110px;
        color: #1C5484;
        font-family: "Roboto Slab", sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.5px;
    }

    .circleTextTop > span {
        color: #F36528;
        font-family: "Roboto Slab", sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.5px;
    }

    .circleTextBottom {
        color: #1C5484;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 135px;
        height: 46px;
    }

    .signin {
        width: 371px;
        height: 271px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .signin > span {
        text-align: center;
        color: #FFF;
        font-family: "Roboto Slab", sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 1.6px;
    }

    .signinMenu {
        margin-top: 28px;
        width: 100%;
        height: 122px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .passEye {
        width: 100%;
        height: 46px;
    }

    .passEye > img {
        width: 20px;
        height: 17px;
        position: absolute;
        right: 20px;
        margin-top: 15px;
    }

    .passEye > input {
        position: relative;
        width: 100%;
        height: 46px;
        background: #74A8AB;
        border: none;
        border-radius: 30px;
        padding: 0px 20px;
        color: #D9E3E4;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        outline: none;
    }

    .passEye > input::placeholder {
        color: #D9E3E4;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }

    .signinMenu > input {
        width: 100%;
        height: 46px;
        background: #74A8AB;
        border: none;
        border-radius: 30px;
        padding: 0px 20px;
        color: #D9E3E4;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        outline: none;
    }

    .signinMenu > input::placeholder {
        color: #D9E3E4;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }

    .rememberField {
        width: 88%;
        height: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .rememberField > a {
        color: #FFF;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: underline;
    }

    .container_signin {
        position: relative;
        background: transparent;
        border: none;
        margin: 14px 0px;
    }

    .container_signin > img {
        width: 108px;
        height: 40px;
    }

    .container_signin > span {
        position: absolute;
        top: 13px;
        left: 0;
        width: 100%;
        text-align: center;
        color: #F36528;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .mainCheck {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mainCheck > label {
        margin-left: 10px;
        color: #FFF;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .signUp > span {
        color: #FFF;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .signUp > a {
        color: #F36528;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
    }

    .signupMenu {
        margin-top: 8px;
        width: 100%;
        height: 154px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .signupMenu > input {
        width: 100%;
        height: 46px;
        background: #74A8AB;
        border: none;
        border-radius: 30px;
        padding: 0px 20px;
        color: #D9E3E4;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        outline: none;
        margin-bottom: 8px;
    }

    .signupMenu > input::placeholder {
        color: #D9E3E4;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }
    .container_signup{
        margin: 14px 0px;
    }
    .container_signup > img{
        width: 108px;
        height: 40px;
    }
    .container_signup > span{
        top: 13px;
    }
    .rememberSignupField{
        margin-top: 17px;
    }
    .signupForm {
        width: 317px;
        height: 316px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .signupForm > span{
        text-align: center;
        color: #FFF;
        font-family: "Roboto Slab",sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 1.6px;
    }
    .loginFieldAm .circleTextTop{
        font-size: 13px;
        height: 77px;

    }
    .loginFieldAm .circleTextTop > span{
        font-size: 13px;
    }
    .loginFieldAm .circleTextBottom{
        font-size: 13px;
    }
    .loginFieldAm .mainTextCircle{
        height: 135px;
    }
}
@media only screen and (min-width: 741px) and (max-width: 850px){
    .loginField {
        width: 80%;
        margin: 0px auto;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .textCircle {
        width: 330px;
        height: 324px;
        background-image: url(../images/logincircle.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .mainTextCircle{
        width: 160px;
        height: 130px;
        margin: 105px 102px 75px 81px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .circleTextTop{
        text-align: center;
        width: 100%;
        height: 110px;
        color: #1C5484;
        font-family: "Roboto Slab",sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.5px;
    }
    .circleTextTop > span{
        color: #F36528;
        font-family: "Roboto Slab",sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.5px;
    }
    .circleTextBottom{
        color: #1C5484;
        text-align: center;
        font-family: "Roboto",sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 135px;
        height: 46px;
    }
    .signin{
        width: 406px;
        height: 271px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .signin > span{
        text-align: center;
        color: #FFF;
        font-family: "Roboto Slab",sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 1.6px;
    }
    .signinMenu{
        margin-top: 28px;
        width: 100%;
        height: 122px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .passEye{
        width: 100%;
        height: 46px;
    }
    .passEye > img{
        width: 20px;
        height: 17px;
        position: absolute;
        right: 20px;
        margin-top: 15px;
    }
    .passEye > input{
        position: relative;
        width: 100%;
        height: 46px;
        background: #74A8AB;
        border: none;
        border-radius: 30px;
        padding: 0px 20px;
        color: #D9E3E4;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        outline: none;
    }
    .passEye > input::placeholder{
        color: #D9E3E4;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }
    .container_signup{
        margin: 14px 0px;
    }
    .signinMenu > input{
        width: 100%;
        height: 46px;
        background: #74A8AB;
        border: none;
        border-radius: 30px;
        padding: 0px 20px;
        color: #D9E3E4;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        outline: none;
    }
    .signinMenu > input::placeholder{
        color: #D9E3E4;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }
    .rememberField{
        width: 88%;
        height: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .rememberField > a{
        color: #FFF;
        font-family: "Roboto",sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: underline;
    }
    .container_signin{
        position: relative;
        background: transparent;
        border: none;
        margin: 14px 0px;
    }
    .container_signin > img{
        width: 108px;
        height: 40px;
    }
    .container_signin > span{
        position: absolute;
        top: 13px;
        left: 0;
        width: 100%;
        text-align: center;
        color: #F36528;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .container_signup > img{
        width: 108px;
        height: 40px;
    }
    .container_signup > span{
        position: absolute;
        top: 13px;
        left: 0;
        width: 100%;
        text-align: center;
        color: #D9E3E4;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .mainCheck{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .mainCheck > label{
        margin-left: 10px;
        color: #FFF;
        font-family: "Roboto",sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .signupMenu{
        margin-top: 8px;
        width: 100%;
        height: 154px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .signUp > span{
        color: #FFF;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .signUp > a{
        color: #F36528;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
    }
    .signupMenu > input{
        width: 100%;
        height: 46px;
        background: #74A8AB;
        border: none;
        border-radius: 30px;
        padding: 0px 16px;
        color: #D9E3E4;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        outline: none;
    }
    .signupMenu > input::placeholder{
        color: #D9E3E4;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }
    .rememberSignupField{
        margin-top: 17px;
    }
    .signupForm {
        width: 317px;
        height: 316px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .signupForm > span{
        color: #FFF;
        font-family: "Roboto Slab",sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 1.6px;
    }
    .loginFieldAm .circleTextTop{
        font-size: 13px;
        height: 77px;

    }
    .loginFieldAm .circleTextTop > span{
        font-size: 13px;
    }
    .loginFieldAm .circleTextBottom{
        font-size: 13px;
    }
    .loginFieldAm .mainTextCircle{
        height: 135px;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1360px) {
    .textCircle {
        width: 400px;
        height: 503px;
        background-image: url(../images/logincircle.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .mainTextCircle{
        width: 186px;
        height: 170px;
        margin: 170px 107px 144px 98px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .circleTextTop{
        text-align: center;
        width: 100%;
        height: 110px;
        color: #1C5484;
        font-family: "Roboto Slab",sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.5px;
    }
    .circleTextTop > span{
        color: #F36528;
        font-family: "Roboto Slab",sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.5px;
    }
    .circleTextBottom{
        color: #1C5484;
        text-align: center;
        font-family: "Roboto",sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 202px;
        height: 46px;
    }
    .passEye > input{
        position: relative;
        width: 100%;
        height: 54px;
        background: #74A8AB;
        border: none;
        border-radius: 30px;
        padding: 0px 20px;
        color: #D9E3E4;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        outline: none;
    }
    .passEye > input::placeholder{
        color: #D9E3E4;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }
    .signinMenu > input{
        width: 100%;
        height: 54px;
        background: #74A8AB;
        border: none;
        border-radius: 30px;
        padding: 0px 20px;
        color: #D9E3E4;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        outline: none;
    }
    .signinMenu > input::placeholder{
        color: #D9E3E4;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }
    .signupMenu > input{
        width: 100%;
        height: 54px;
        background: #74A8AB;
        border: none;
        border-radius: 30px;
        padding: 0px 16px;
        color: #D9E3E4;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        outline: none;
    }
    .signupMenu > input::placeholder{
        color: #D9E3E4;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }
    .passEye > img{
        position: absolute;
        right: 20px;
        margin-top: 15px;
    }
    .loginFieldAm .circleTextTop{
        font-size: 20px;
    }
    .loginFieldAm .circleTextTop > span{
        font-size: 20px;
    }
    .loginFieldAm .circleTextBottom{
        font-size: 15px;
    }
    .loginFieldAm .mainTextCircle{
        height: 190px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1530px) {
    .signin > span{
        text-align: center;
        color: #FFF;
        font-family: "Roboto Slab",sans-serif;
        font-size: 27px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 1.6px;
    }
    .signupForm > span{
        text-align: center;
        color: #FFF;
        font-family: "Roboto Slab",sans-serif;
        font-size: 27px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 1.6px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 741px) {
    .loginField{
        height: auto;
        flex-direction: column;
    }
    .signin {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .login{
        background: #5D9A9D;
    }
}
@media only screen and (min-width: 400px) and (max-width: 600px){
    .signin {
        width: 100%;
    }
    .passEye > img {
        margin-top: 20px;
    }
    .loginField{
        width: 87%;
        height: auto;
        flex-direction: column;
    }
    .mainTextCircle {
        width: 176px;
        height: 140px;
        margin: 0;
    }
    .textCircle{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circleTextTop {
        height: 100px;
        font-family: 'Roboto Slab';
        font-size: 20px;
        font-weight: 700;
        line-height: 26.38px;
        letter-spacing: -0.5px;
        text-align: center;
    }
    .circleTextTop > span{
        font-family: 'Roboto Slab';
        font-size: 20px;
        font-weight: 700;
        line-height: 26.38px;
        letter-spacing: -0.5px;
        text-align: center;
    }
    .circleTextBottom{
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        line-height: 18.75px;
        text-align: center;
    }
    .signupForm > span, .signin > span{
        display: none;
    }
    .signupFormTitle{
        display: block;
        font-family: 'Roboto Slab';
        font-size: 16px;
        font-weight: 400;
        line-height: 21.1px;
        text-align: center;
        color: #FFFFFF;
    }
    .signupForm {
        width: 100%;
    }
    .loginFieldAm .circleTextTop > span ,
    .loginFieldAm .circleTextTop{
        font-size: 17px;
    }
    .loginFieldAm .mainTextCircle {
        height: 162px;
    }
}
@media only screen and (max-width: 400px) {
    .passEye > img {
        margin-top: 10px;
        right: 15px;
    }
    .passEye > input{
        font-family: 'Roboto';
        font-size: 13px;
        font-weight: 400;
        line-height: 15.23px;
    }
    .signin {
        width: 100%;
    }
    .loginFieldAm .mainTextCircle {
        width: 163px;
        height: 115px;
    }
    .loginFieldAm .circleTextTop > span, .loginFieldAm .circleTextTop {
        font-size: 12px;
        line-height: 17px;
    }
    .loginFieldAm .circleTextBottom {
        font-size: 12px;
    }
    .loginField {
        width: 87%;
        height: 660px;
        flex-direction: column;
        justify-content: space-around;
    }

    .mainTextCircle {
        width: 176px;
        height: 112px;
        margin: 0;
    }

    .textCircle {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circleTextTop {
        height: 63px;
        font-family: 'Roboto Slab';
        font-size: 16px;
        font-weight: 700;
        line-height: 21.1px;
        letter-spacing: -0.5px;
        text-align: center;
    }

    .circleTextTop > span {
        font-family: 'Roboto Slab';
        font-size: 16px;
        font-weight: 700;
        line-height: 21.1px;
        letter-spacing: -0.5px;
        text-align: center;
    }

    .circleTextBottom {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        text-align: center;
        width: 176px;
    }

    .signupForm > span, .signin > span {
        display: none;
    }

    .signupFormTitle {
        display: block;
        font-family: 'Roboto Slab';
        font-size: 16px;
        font-weight: 400;
        line-height: 21.1px;
        text-align: center;
        color: #FFFFFF;
    }

    .signupForm {
        width: 100%;
        height: 260px;
    }
    .rememberSignupField > label,
    .rememberSignupField > label > a{
        font-family: Roboto;
        font-size: 10px;
        font-weight: 500;
        line-height: 11.72px;
        text-align: left;
    }
    .signupMenu > input, .passEye > input , .signinMenu > input{
        height: 46px;
    }
    #submitButton img,
    .container_signin img{
        width: 107.96px;
        height: 40px;
    }
    .container_signup > span,
    .container_signin > span{
        font-family: Roboto;
        font-size: 10px;
        font-weight: 500;
        line-height: 11.72px;
        top: 16px;
    }
    .signUp > span,
    .signUp > a,
    .rememberField > a,
    .mainCheck > label{
        font-family: Roboto;
        font-size: 13px;
        font-weight: 500;
        line-height: 15.23px;
    }
    .login {
        height: 820px;
    }
    .rememberSignupField, .container_signup  {
        padding-bottom: 10px;
    }
}
@media only screen and (max-width: 375px) {
    .mainTextCircle {
        width: 150px;
    }
}
@media only screen and (max-width: 350px) {
    .loginField {
        margin-top: 51px;
        height: 606px;
    }
    .login {
        height: 760px;
    }
    .circleTextBottom {
        width: 150px;
    }
}
@media only screen and (max-width: 300px) {
    .textCircle {
        height: 253px;
    }
    .loginField {
        margin-top: 10px;
        height: 570px;
    }
    .login {
        height: 710px;
    }
    .circleTextTop,
    .circleTextTop > span,
    .circleTextBottom{
        font-size: 12px;
    }
    .mainTextCircle, .circleTextBottom {
        width: 113px;
    }
    .loginFieldAm .mainTextCircle {
        height: 130px;
    }
}