.login {
    width: 100%;
    height: 1088px;
    background-image: url("../images/background-sign-in.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.loginField{
    width: 58%;
    height: 503px;
    margin: 338px 21% 0px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.textCircle{
    width: 512px;
    height: 503px;
    background-image: url("../images/logincircle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.mainTextCircle{
    width: 285px;
    height: 202px;
    margin: 157px 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.circleTextTop{
    text-align: center;
    width: 100%;
    /*height: 141px;*/
    height: 120px;
    color: #1C5484;
    font-family: "Roboto Slab",sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}
.circleTextTop > span{
    color: #F36528;
    font-family: "Roboto Slab",sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}
.circleTextBottom{
    color: #1C5484;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.circleTextBottom{
    width: 202px;
    height: 46px;
}
.signin{
    width: 406px;
    height: 339px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.signin > span{
    color: #FFF;
    font-family: "Roboto Slab",sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.6px;
}
.signinMenu{
    width: 100%;
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.passEye{
    width: 100%;
    height: 62px;
}
.passEye > img{
    position: absolute;
    right: 28px;
    margin-top: 24px;
}
.passEye > input{
    position: relative;
    width: 100%;
    height: 62px;
    background: #74A8AB;
    border: none;
    border-radius: 30px;
    padding: 0px 16px;
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    outline: none;
}
.passEye > input::placeholder{
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.signinMenu > img{
    /*position: absolute;*/
    /*right: 0;*/
}
.signinMenu > input{
    width: 100%;
    height: 62px;
    background: #74A8AB;
    border: none;
    border-radius: 30px;
    padding: 0px 16px;
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    outline: none;
}
.signinMenu > input::placeholder{
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.rememberField{
    width: 89%;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rememberField > a{
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}
.container_signin{
    position: relative;
    background: transparent;
    border: none;
    margin-top: 20px;
}
.container_signin > span{
    margin: 22px 56px;
    position: absolute;
    left: 0;
    color: #F36528;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.mainCheck{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mainCheck > label{
    margin-left: 10px;
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.signUp > span{
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.signUp > a{
    color: #F36528;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
