@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*start tablet for header page */
@media only screen and (min-width: 376px) and (max-width: 1100px) {
    .header{
        display: none;
    }
    .tabletHeader{
        display: block;
    }
    .tabletMenuField{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .tabletMenuField > button{
        position: relative;
        background: transparent;
        border: none;
    }
    .tabletMenuField > button > span{
        margin: 11px 8px;
        position: absolute;
        left: 0;
        color: #F36528;
        font-family: "Roboto",sans-serif;
        font-size: 7px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}
@media only screen and (min-width: 1101px){
    .header{
        display: block;
    }
    .tabletHeader{
        display: none;
    }
}
/*start media tablet for main page*/
@media only screen and (min-width: 376px) and (max-width: 1024px)  {
    .headerBackground {
        background-image: url("../images/headerimgTablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 605px;
    }
    .apply{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        left: 7%;
        top: 289px;
        width: 332px;
        height: 164px;
        position: absolute;
    }
    .applyMarket{
        letter-spacing: 3px;
        font-family: "Roboto Slab", sans-serif;
        font-weight: 900;
        font-size: 25px;
        color: #F36528;
        z-index: 10;
    }
    .boundaries{
        margin-bottom: 15px;
        font-family: "Roboto",sans-serif;
        width: 100%;
        color: white;
        font-size: 15px;
        font-weight: 500;
        z-index: 10;
    }
    .apply > a{
        width: 113px;
        height: 49px;
        background: transparent;
        border: none;
        z-index: 10;
        position: relative;
    }
    .apply > a > span{
        position: absolute;
        left: 24px;
        top: 17px;
        font-family: "Roboto",sans-serif;
        font-size: 12px;
        color: #F36528;
        font-weight: 900;
    }
    .sectionTwo{
        background-image: url("../images/diagonalTablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 237px;
    }
    .sectionInfo{
        width: 54%;
        height: 103px;
        position: absolute;
        margin: 67px 23% 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .numbersInfo{
        width: 67px;
        height: 103px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .numbersInfo > img{
        width: 50px;
        height: 50px;
    }
    .numberSectionTwo{
        color: #1C5484;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-weight:700;
    }
    .textSectionTwo{
        color: #1C5484;
        font-family: "Roboto",sans-serif;
        font-size: 13px;
        font-weight:400;
    }
    .sectionThree{
        background-image: url("../images/bgTablet.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 609px;
    }
    .learn{
        top: 141px;
        width: 88%;
        height: 304px;
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .learnInfo{
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .learnImg{
        width: 51%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }
    .learnImg > img{
        width: 308px;
        height: 303px;
    }
    .managementBtn > a{
        position: relative;
    }
    .managementBtn > a > img{
        width: 136px;
        height: 58px;

    }
    .managementBtn > a >span{
        position: absolute;
        font-family: "Roboto",sans-serif;
        font-size: 12px;
        font-weight: 900;
        left: 17px;
        top: 4px;
        color: #F36528;
    }
    .coursesBg{
        background-image: url("../images/recTablet.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 72px;
        top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .coursesBg > span{
        color: #F16D35;
        font-family: "Roboto Slab", sans-serif;
        font-size: 25px;
        font-weight: 900;
        letter-spacing: 1.25px;
        margin-top: 10px;
    }
    .coursesBg > p{
        color: white;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        font-width: 400;
    }
    .logoManagement{
        width: 265px;
        height: 52px;
        display: flex;
        flex-direction: row;
    }
    .courseLogo{
        width: 45px;
    }
    .courseLogo > img{
        /*margin-top:10px;*/
        width: 100%;
        height: 21px;
    }
    .courseTitle{
        width:159px;
        padding-left:21px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .courseTitle > span{
        -webkit-text-stroke: 1px white;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 2.2px;
        color: transparent;
    }


    .sectionFour{
        background-image: url("../images/sectionFourTablet.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -57px;
        width: 100%;
        height: 898px;
    }
    .freqAsked{
        font-size: 25px;
        font-family: "Roboto Slab",sans-serif;
        font-weight: 900;
        color: #F16D35;
        letter-spacing: 1.25px;
        text-align: center;
    }
    .freqLook{
        font-family: "Roboto",sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: white;
    }
    .questions{
        width: 100%;
        height: 541px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .leftQuestions{
        width: 100%;
    }
    .rightQuestions{
        width: 100%;
    }
    .answersField{
        width: 100%;
        min-height: 64px;
        margin-bottom: 14px;
        border-radius: 32px;
        padding: 0px 30px;
        background: rgba(147,188,191,0.7);
    }
    .sectionFive{
        background-image: url("../images/partnerBgTablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 295px;
        margin-top: -65px;
        position:relative;
    }
    .partnerSection{
        width: 100%;
        height: 163px;
        position: absolute;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
        overflow: hidden;
    }
    .partnersTitle{
        font-family: "Roboto Slab",sans-serif;
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 1.1px;
        color: #F16D35;
    }
    .carousel-slide:hover .img-top {
        display: inline;
        width: 98px;
        height: 99px;
    }
    .img-prev{
        width: 98px;
        height: 99px;
    }
}
/*sectionthree */
@media only screen and (min-width: 420px) and (max-width: 539px) {
    .courseLogo > img{
        /*margin-top:10px;*/
        margin-left: 16px;
        width: 100%;
        height: 21px;
    }
    .learnImg > img {
        width: 200px;
        height: 200px;
    }
    .coursesBg{
        background-image: url("../images/recTablet.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 60px;
        top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .coursesBg > span{
        margin-top: 13px;
        color: #F16D35;
        font-family: "Roboto Slab", sans-serif;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 1.5px;
    }
    .coursesBg > p{
        color: white;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-width: 400;
    }
    .logoManagement{
        width: 230px;
        height: 52px;
        display: flex;
        flex-direction: row;
    }
    .courseLogo{
        width: 27px;
    }
    .courseLogo > img{
        /*margin-top:10px;*/
        margin-left: 30px;
        width: 100%;
        height: 21px;
    }
    .courseTitle{
        width:159px;
        padding-left:40px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .courseTitle > span{
        -webkit-text-stroke: 1px white;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 2.2px;
        color: transparent;
    }
    .managementBtn > a > img{
        width: 100px;
        height: 50px;

    }
    .managementBtn > a >span{
        position: absolute;
        font-family: "Roboto",sans-serif;
        font-size: 10px;
        font-weight: 900;
        left: 8px;
        top: 6px;
        color: #F36528;
    }
}
@media only screen and (min-width: 540px) and (max-width: 670px) {
    .learnImg > img {
        width: 250px;
        height: 250px;
    }
    .courseLogo > img{
        /*margin-top:10px;*/
        margin-left: 16px;
        width: 100%;
        height: 21px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .learnImg > img {
        width: 390px;
        height: 390px;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1300px) {
    .learnImg > img {
        width: 450px;
        height: 450px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1300px) {
    .sectionThree{
        background-image: url("../images/bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 800px;
    }
    .learn{
        top: 100px;
        width: 88%;
        height: 600px;
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .coursesBg{
        background-image: url('../images/rec.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 110px;
        top: 27px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .coursesBg > span{
        margin-top: 13px;
        color: #F16D35;
        font-family: "Roboto Slab", sans-serif;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 1.5px;
    }
    .coursesBg > p{
        color: white;
        font-size: 22px;
        font-family: "Roboto", sans-serif;
        font-width: 400;
    }
    .courseLogo{
        width: 112px;
    }
    .courseLogo > img{
        margin-top:15px;
        margin-left:40px;
        width: 80px;
    }
    .courseTitle{
        width:401px;
        padding-left:65px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .courseTitle > span{
        -webkit-text-stroke: 2px white;
        font-size: 38px;
        font-weight: 900;
        letter-spacing: 4px;
        color: transparent;
    }
    .managementBtn > a > img{
        width: 175px;
    }
    .managementBtn > a >span{
        position: absolute;
        font-family: "Roboto",sans-serif;
        font-size: 15px;
        font-weight: 900;
        left: 24px;
        top: 4px;
        color: #F36528;
    }
}
@media only screen and (min-width: 1301px) and (max-width: 1660px) {
    .sectionThree{
        background-image: url("../images/bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 1080px;
    }
    .learn{
        top: 188px;
        width: 88%;
        height: 639px;
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .learnImg > img {
        width: 490px;
        height: 490px;
    }
    .coursesBg{
        background-image: url('../images/rec.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 120px;
        top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .coursesBg > span{
        color: #F16D35;
        font-family: "Roboto Slab", sans-serif;
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 2px;
    }
    .coursesBg > p{
        color: white;
        font-size: 27px;
        font-family: "Roboto", sans-serif;
        font-width: 400;
    }
    .courseLogo{
        width: 112px;
    }
    .courseLogo > img{
        margin-top:15px;
        margin-left:25px;
        width: 90px;
    }
    .courseTitle{
        width:401px;
        padding-left:50px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .courseTitle > span{
        -webkit-text-stroke: 2px white;
        font-size: 43px;
        font-weight: 900;
        letter-spacing: 5.28px;
        color: transparent;
    }
    .managementBtn > a > img{
        width: 200px;
    }
    .managementBtn > a >span{
        position: absolute;
        font-family: "Roboto",sans-serif;
        font-size: 15px;
        font-weight: 900;
        left: 37px;
        top: 4px;
        color: #F36528;
    }
}

/*sectionfour */
@media only screen and (min-width: 377px) and (max-width: 499px) {
    /*.frequency{*/
    /*    width: 100%;*/
    /*    height: 65px;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    justify-content: start;*/
    /*    align-items: center;*/
    /*    border:1px solid;*/
    /*}*/
    /*.freqAsked{*/
    /*    font-size: 20px;*/
    /*    font-family: "Roboto Slab",sans-serif;*/
    /*    font-weight: 900;*/
    /*    color: #F16D35;*/
    /*    letter-spacing: 1.25px;*/
    /*    text-align: center;*/
    /*}*/
}
@media only screen and (min-width: 500px) and (max-width: 697px) {
    .frequency{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .answers{
        margin: 65px 17% 0px;
        width: 64%;
        height: 657px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
@media only screen and (min-width: 698px) and (max-width: 1024px) {
    .frequency{
        width: 100%;
        height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .answers{
        margin: 60px 17% 0px;
        width: 64%;
        height: 622px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
/*sectionfive */
@media only screen and (min-width: 376px) and (max-width: 519px) {
    .blockTestimonial{
        background-image: url("../images/inactivetestimonial.png");
        background-repeat: no-repeat;
        background-size: 100%;
        /*width: 29%;*/
        height: 100%;
    }
    .blockTestimonial:hover{
        background-image: url("../images/activetestimonial.png");
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
        /*width: 29%;*/
        height: 100%;
    }
}
@media only screen and (min-width: 520px) and (max-width: 559px) {
    .intoBlockTestimonial {
        width: 79%;
        height: 30%;
        margin: 11.5% 9%;
        padding: 4px 0 4px;
    }
    .testimonialSimbol > img{
        width: 15px;
    }
    .fieldsLinkdin > a > img{
        width: 24px;
    }
    .testimonialsText {
        width: 100%;
        height: 72px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .testimonialsAuthor {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 21px;
        width: 141px;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 31px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
}
@media only screen and (min-width: 560px) and (max-width: 599px) {
    .intoBlockTestimonial {
        width: 79%;
        height: 35%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .testimonialSimbol > img{
        width: 15px;
    }
    .fieldsLinkdin > a > img{
        width: 22px;
    }
    .testimonialsText {
        width: 100%;
        height: 80px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .testimonialsAuthor {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 19px;
        width: 141px;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
}
@media only screen and (min-width: 600px) and (max-width: 649px) {
    .intoBlockTestimonial {
        width: 79%;
        height: 35%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .testimonialSimbol > img{
        width: 15px;
    }
    .fieldsLinkdin > a > img{
        width: 27px;
    }
    .testimonialsText {
        width: 100%;
        height: 90px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .testimonialsAuthor {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 20px;
        width: 141px;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
}
@media only screen and (min-width: 650px) and (max-width: 699px) {
    .intoBlockTestimonial {
        width: 79%;
        height: 38%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .testimonialSimbol > img{
        width: 16px;
    }
    .fieldsLinkdin > a > img{
        width: 28px;
    }
    .testimonialsText {
        width: 100%;
        height: 100px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .testimonialsAuthor {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 21px;
        width: 141px;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
}
@media only screen and (min-width: 700px) and (max-width: 749px) {
    .intoBlockTestimonial {
        width: 79%;
        height: 41%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .testimonialSimbol > img{
        width: 16px;
    }
    .fieldsLinkdin > a > img{
        width: 28px;
    }
    .testimonialsText {
        width: 100%;
        height: 120px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .testimonialsAuthor {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 21px;
        width: 141px;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
}
@media only screen and (min-width: 750px) and (max-width: 799px) {
    .intoBlockTestimonial {
        width: 79%;
        height: 44%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .testimonialSimbol > img{
        width: 16px;
    }
    .fieldsLinkdin > a > img{
        width: 28px;
    }
    .testimonialsText {
        width: 100%;
        height: 135px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .testimonialsAuthor {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 21px;
        width: 141px;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
}
@media only screen and (min-width: 520px) and (max-width: 799px) {
    .sectionSix{
        margin-top: -56px;
        background-image: url("../images/testimonialBgTablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 664px;
    }
    .testimonial{
        margin: 137px 5.5% 0px;
        width: 89%;
        height: 470px;
        position: absolute;
    }
    .circleTestimonial > .swiper-pagination{
        left: 398px;
        top: 330px;
        width: 115px;
    }
    .blockTestimonial{
        background-image: url("../images/inactivetestimonialTablet.png");
        background-repeat: no-repeat;
        background-size: 100%;
        /*width: 29%;*/
        height: 100%;
    }
    .blockTestimonial:hover{
        background-image: url("../images/activetestimonialTablet.png");
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
        /*width: 29%;*/
        height: 100%;
    }
}
@media only screen and (min-width: 800px) and (max-width: 839px) {
    .intoBlockTestimonial {
        width: 79%;
        height: 46%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .testimonialSimbol > img{
        width: 20px;
    }
    .fieldsLinkdin > a > img{
        width: 30px;
    }
    .testimonialsText {
        width: 100%;
        height: 140px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media only screen and (min-width: 840px) and (max-width: 879px) {
    .intoBlockTestimonial {
        width: 79%;
        height: 48%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .testimonialSimbol > img{
        width: 20px;
    }
    .testimonialsText {
        width: 100%;
        height: 155px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .fieldsLinkdin > a > img{
        width: 30px;
    }
}
@media only screen and (min-width: 880px) and (max-width: 919px) {
    .intoBlockTestimonial {
        width: 79%;
        height: 48%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .testimonialSimbol > img{
        width: 20px;
    }
    .testimonialsText {
        width: 100%;
        height: 164px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media only screen and (min-width: 920px) and (max-width: 949px) {
    .intoBlockTestimonial {
        width: 79%;
        height: 54%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .testimonialsText {
        width: 100%;
        height: 175px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 19px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
@media only screen and (min-width: 950px) and (max-width: 979px) {
    .intoBlockTestimonial {
        width: 78%;
        height: 38%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .testimonialSimbol > img{
        width: 18px;
    }
    .testimonialsText {
        width: 100%;
        height: 95px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .testimonialsAuthor {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 21px;
        width: 141px;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
    .fieldsLinkdin > a > img{
        width: 28px;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1079px) {
    .intoBlockTestimonial {
        width: 78%;
        height: 38%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .testimonialSimbol > img{
        width: 18px;
    }
    .testimonialsText {
        width: 100%;
        height: 100px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .testimonialsAuthor {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 21px;
        width: 141px;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
    .fieldsLinkdin > a > img{
        width: 28px;
    }
}
@media only screen and (min-width: 1080px) and (max-width: 1169px) {
    .intoBlockTestimonial {
        width: 78%;
        height: 40%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .testimonialSimbol > img{
        width: 20px;
    }
    .testimonialsText {
        width: 100%;
        height: 120px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .testimonialsAuthor {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 21px;
        width: 141px;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
    .fieldsLinkdin > a > img{
        width: 28px;
    }
}
@media only screen and (min-width: 1170px) and (max-width: 1259px) {
    .intoBlockTestimonial {
        width: 78%;
        height: 45%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .testimonialSimbol > img{
        width: 18px;
    }
    .testimonialsText {
        width: 100%;
        height: 140px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .fieldsLinkdin > a > img{
        width: 30px;
    }
    .testimonialsAuthor {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 22px;
        width: 141px;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
}
@media only screen and (min-width: 1260px) and (max-width: 1279px) {
    .intoBlockTestimonial{
        width: 78%;
        height: 48%;
        margin: 11.5% 9%;
        padding: 11px 0 11px;
    }
    .fieldsLinkdin > a > img{
        width: 30px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1279px) {
    .sectionSix{
        margin-top: -56px;
        background-image: url("../images/testimonialBgTablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 544px;
    }
    .testimonial{
        margin: 80px 5.5% 0px;
        width: 89%;
        height: 410px;
        position: absolute;
    }
    .circleTestimonial > .swiper-pagination{
        left: 398px;
        top: 330px;
        width: 115px;
    }
    .testimonialsTitles{
        /*width: 447px;*/
        height: 57px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .testimonialOrangeTitle{
        font-size: 25px;
        font-family: "Roboto Slab",sans-serif;
        font-weight: 900;
        letter-spacing: 1.25px;
        color: #F16D35;
    }
    .testimonialWhiteTitle{
        font-family: "Roboto",sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #FFFFFF;
    }
    .blockTestimonial{
        background-image: url("../images/inactivetestimonialTablet.png");
        background-repeat: no-repeat;
        background-size: 100%;
        /*width: 29%;*/
        height: 100%;
    }
    .blockTestimonial:hover{
        background-image: url("../images/activetestimonialTablet.png");
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
        /*width: 29%;*/
        height: 100%;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1340px) {
    .testimonialsAuthor {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 22px;
        width: 141px;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
    .fieldsLinkdin > a > img{
        height: 25px;
    }
    /*.circleTestimonial > .swiper-pagination{*/
    /*    left: 398px;*/
    /*    top: 380px;*/
    /*    width: 115px;*/
    /*}*/
}
@media only screen and (min-width: 1280px) and (max-width: 1399px) {
    .sectionSix{
        margin-top: -56px;
        background-image: url("../images/testimonialBg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 750px;
    }
    .testimonial{
        margin: 137px 17% 0px;
        width: 66%;
        height: 530px;
        position: absolute;
    }

    .circleTestimonial > .swiper-pagination{
        left: 398px;
        top: 380px;
        width: 115px;
    }
    .intoBlockTestimonial{
        width: 78%;
        height: 48%;
        margin: 11.5% 9%;
        padding: 13px 0 13px;
    }
    .testimonialsText{
        width: 100%;
        height: 135px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .testimonialSimbol > img{
        width: 15px;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1499px) {
    .intoBlockTestimonial{
        width: 78%;
        height: 48%;
        margin: 11.5% 9%;
        padding: 13px 0 13px;
    }
    .testimonialsText{
        width: 100%;
        height: 155px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .circleTestimonial > .swiper-pagination{
        left: 50%;
        width: 115px;
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1599px) {
    .intoBlockTestimonial{
        width: 78%;
        height: 55%;
        margin: 11.5% 9%;
        padding: 20px 0 20px;
    }
    .testimonialsText{
        width: 100%;
        height: 165px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media only screen and (min-width: 1600px) and (max-width: 1700px) {
    .intoBlockTestimonial{
        width: 78%;
        height: 59%;
        margin: 11.5% 9%;
        padding: 20px 0 20px;
    }
    .testimonialsText{
        width: 100%;
        height: 175px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        font-size: 19px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media only screen and (min-width: 1701px) and (max-width: 1800px) {
    .intoBlockTestimonial{
        width: 78%;
        height: 59%;
        margin: 11.5% 9%;
        padding: 20px 0 20px;
    }
    .testimonialsText{
        width: 100%;
        height: 205px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        font-size: 22px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media only screen and (min-width: 1801px) and (max-width: 1900px) {
    .intoBlockTestimonial{
        width: 78%;
        height: 59%;
        margin: 11.5% 9%;
        padding: 20px 0 20px;
    }
    .testimonialsText{
        width: 100%;
        height: 205px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        font-size: 22px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media only screen and (min-width: 1901px) {
    .intoBlockTestimonial{
        width: 78%;
        height: 59%;
        margin: 11.5% 9%;
        padding: 20px 0 20px;
    }
    .testimonialsText{
        width: 100%;
        height: 205px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        font-size: 22px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/*sectionSeven*/
@media only screen and (min-width: 600px) and (max-width: 1023px) {
    .sectionSeven{
        margin-top: -49px;
        background-image: url("../images/blogBgTablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 573px;
    }
    .sectionBlog{
        width: 89%;
        height: 438px;
        position: absolute;
        margin: 70px 5.5% 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .sectionBlog > span{
        color: #F16D35;

        font-family: "Roboto Slab",sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 1.25px;
    }
    .blogsCard{
        width: 100%;
        height: 263px;
    }
    .individualCards{
        margin: 0px 2%;
        border-radius: 30px;
        width: 199px;
        height: 263px;
    }
    .cardsimg{
        height: 127px;
        width: 100%;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    .cardsimg > img{
        width: 100%;
        height: 100%;
    }
    .cardsText{
        height: 136px;
        width: 100%;
        background: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .cardsInfo{
        color: #1C5484;
        font-family: "Roboto",sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        display: -webkit-box;
        width: 100%;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height:28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
    .articleDate{
        color: #555;
        font-family: "Roboto",sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    .cardsDate > img{
        width: 16px;
    }
    .cardsLike{
        height: 28px;
        width: 73%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .cardsLike > a{
        color: #F36528;
        font-family: "Roboto",sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .cardsLike > img{
        width: 28px;
    }
    .cardsTextInfo{
        padding: 9px 5%;
        width: 100%;
        height: 190px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    .cardsTextField{
        height: 128px;
    }
    .blogText{
        width: 288px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        color: #1C5484;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
    }
    /*.blogLine {*/
    /*    width: 45%;*/
    /*}*/
}
@media only screen and (min-width: 600px) and (max-width: 659px) {
    .blogBtn{
        width: 124px;
    }
    .blogLine {
        width: 22%;
    }
    .blogBtn > a > img{
        width: 123px;
        height: 48px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 3px 27px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 660px) and (max-width: 709px) {
    .blogBtn{
        width: 124px;
    }
    .blogLine {
        width: 28%;
    }
    .blogBtn > a > img{
        width: 123px;
        height: 48px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 3px 27px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 710px) and (max-width: 749px) {
    .blogBtn{
        width: 124px;
    }
    .blogLine {
        width: 33%;
    }
    .blogBtn > a > img{
        width: 123px;
        height: 48px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 3px 27px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 750px) and (max-width: 829px) {
    .blogBtn{
        width: 124px;
    }
    .blogLine {
        width: 37%;
    }
    .blogBtn > a > img{
        width: 123px;
        height: 48px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 3px 27px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 830px) and (max-width: 949px) {
    .blogBtn{
        width: 124px;
    }
    .blogLine {
        width: 42%;
    }
    .blogBtn > a > img{
        width: 123px;
        height: 48px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 3px 27px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 950px) and (max-width: 1023px) {
    .blogBtn{
        width: 124px;
    }
    .blogLine {
        width: 47%;
    }
    .blogBtn > a > img{
        width: 123px;
        height: 48px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 3px 27px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1099px) {
    .blogBtn {
        width: 140px;
    }
    .blogLine {
        width: 28%;
    }
    .blogBtn > a > img{
        width: 140px;
        height: 55px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 4px 34px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1099px) {
    .blogBtn {
        width: 140px;
    }
    .blogLine {
        width: 28%;
    }
    .blogBtn > a > img{
        width: 140px;
        height: 55px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 4px 34px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1189px) {
    .blogBtn {
        width: 140px;
    }
    .blogLine {
        width: 33%;
    }
    .blogBtn > a > img{
        width: 140px;
        height: 55px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 4px 34px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 1190px) and (max-width: 1279px) {
    .blogBtn {
        width: 140px;
    }
    .blogLine {
        width: 38%;
    }
    .blogBtn > a > img{
        width: 140px;
        height: 55px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 4px 34px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1379px) {
    .blogBtn {
        width: 160px;
    }
    .blogLine {
        width: 42%;
    }
    .blogBtn > a > img{
        width: 160px;
        height: 60px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 4px 45px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 1380px) and (max-width: 1479px) {
    .blogBtn {
        width: 160px;
    }
    .blogLine {
        width: 46%;
    }
    .blogBtn > a > img{
        width: 160px;
        height: 60px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 4px 45px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 1480px) and (max-width: 1559px) {
    .blogLine {
        width: 49%;
    }
    .blogBtn > a > img{
        width: 160px;
        height: 60px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 4px 45px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 1560px) and (max-width: 1659px) {
    .blogLine {
        width: 52%;
    }
    .blogBtn > a > img{
        width: 160px;
        height: 60px;
    }
    .blogBtn > a > span {
        left: 0;
        position: absolute;
        margin: 4px 45px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #F36528;
    }
    .blogText{
        width: 291px;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #1C5484;
    }
}
@media only screen and (min-width: 1660px) and (max-width: 1790px) {
    .blogLine {
        width: 55%;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    .cardsimg{
        height: 200px;
    }
    .cardsText{
        height: 230px;
    }
    .cardsLike{
        height: 35px;
    }
    .cardsLike > a{
        font-size: 17px;
    }
    .cardsLike > img{
        width: 35px;
    }
    .cardsTextInfo{
        padding: 15px 5%;
        height: 170px;
    }
    .cardsTextField{
        height: 210px;
    }
    .blogsCard .individualCards:last-child{
        display:none;
    }
}
@media only screen and (min-width: 1401px) {
    .blogsCard .individualCards:last-child{
        display:none;
    }
}
/*sectionEight*/
@media only screen and (min-width: 376px) and (max-width: 1024px) {
    .questionTitle{
        font-size: 22px;
        text-align: center;
    }
}

/*footer section*/
@media only screen and (min-width: 740px) and (max-width: 1340px) {
    .footerBackground{
        margin-top: -50px;
        background-image: url("../images/footerbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 436px;
    }
    .sectionFooter{
        width: 65%;
        height: 373px;
        margin: 49px 17.5% 0px;
        position: absolute;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .leftFooterBg{
        background-image: url("../images/leftImageFooter.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        width:338px;
        height: 338px;
        margin-right: 5px;
    }
    .footerFields{
        width: 276px;
        height: 235px;
        margin: 92px auto 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    .footerLogo{
        width: 100%;
        height: 23px;
    }
    .footerLogo > img{
        width: 125px;
        height: 23px;
    }
    .leftFooterBlock{
        width: 100%;
        height: 162px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    .footerMenu{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .leftMenuFooter{
        width: 138px;
        height: 99px;
    }
    .leftMenuFooter > ul{
        list-style: none;
        padding-left: 0px;
        font-size: 13px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        margin-bottom: 5px;
    }
    .rightMenuFooter{
        width: 140px;
        height: 85px;
    }
    .rightMenuFooter > ul{
        padding-left:0px;
        list-style: none;
        font-size: 13px;
    }
    .footerConn > span{
        color: #F36528;
        font-family: "Roboto",sans-serif;
        font-size: 10px;
        font-weight: 600;
    }
    .footerBtn{
        width: 100%;
    }
    .footerBtn > input{
        position: absolute;
        width: 248px;
        height: 33px;
        border-radius: 33px;
        color: white;
        outline: none;
        border: none;
        background: #5D9A9D;
        padding: 0px 170px 0px 20px;
        font-family: "Roboto",sans-serif;
        font-size: 12px;
        font-weight: 400;

    }
    .footerBtn > input::placeholder{
        color: white;
        font-family: "Roboto",sans-serif;
        font-size: 10px;
        font-weight: 400;
    }
    .footerBtn > button{
        left: 171px;
        top: 3px;
        font-family: "Roboto",sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #5D9A9D;
        /* outline: none; */
        border: 1px solid white;
        width: 74px;
        height: 27px;
        border-radius: 20px;
        background: white;
        position: relative;
    }
    .footerSocial{
        width: 100%;
        height: 20px;
        /*margin-bottom: 10px;*/
    }
    .footerSocial > a > img{
        width: 20px;
    }
    .rightFooterBg{
        width:324px;
        height: 259px;
        background-image: url("../images/qw.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        margin-left: 5px;
    }
    .formMail{
        width: 240px;
        height: 217px;
        margin: 40px auto 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .formName{
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .formName > span{
        text-align: center;
        font-family: "Roboto",sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #5D9A9D;
    }
    .inputsMail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .inputsMail > input{
        padding: 0px 22px;
        font-family: "Roboto",sans-serif;
        font-size: 12px;
        font-weight: 400;
        width: 100%;
        height: 38px;
        margin: 4px 0px;
        background: none;
        border: 2px solid #5D9A9D;
        outline: none;
        color: #ACACAC;
        border-radius: 28px;
    }
    .inputsMail > input::placeholder{
        color: #ACACAC;
        font-family: "Roboto",sans-serif;
        font-size: 12px;
        font-weight: 400;
    }
    .formContinue{
        margin-bottom: 5px;
    }
    .formContinue > button{
        height: 34px;
        width: 100%;
        border-radius: 30px;
        background: #5D9A9D;
        color:white;
        font-family: "Roboto",sans-serif;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        border:none;
    }
    .paypalFooter{
        width: 641px;
        height: 19px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .copyTextFooter{
        width: 178px;
        height: 13px;
        font-family: "Roboto",sans-serif;
        font-size: 10px;
        font-weight: 500;
        color: white;
    }
    .policyText{
        margin-left: 150px;
        height: 13px;
        width: 178px;
    }
    .policyText > ul{
        width: 100%;
        margin-bottom: 0px;
        padding-left: 0px;
        list-style: none;
        font-family: "Roboto",sans-serif;
        font-size: 10px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .payLogoFooter{
        height: 19px;
        width: 63px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .payLogoFooter > img{
        width: 29px;
        height: 19px;
    }
}
