@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*start header css*/
.activeli{
    color: #F36528;
}
.header{
    width: 100%;
    height: 150px;
    background: linear-gradient(#99C0C2,#85B2B6);
    box-shadow: 0px 0px 9px 0px #347D81;
    position: fixed;
    z-index: 50;
}
.menuSection{
    width: 67%;
    margin: 0px auto;
    height: 140px;
    position: relative;
    top: 15px;
}
.logo > img{
    width:255px;
    height: 48px;
}
.logoSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons{
    /*width: 153px;*/
    /*height: 43px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.profileField{
    position: relative;
    margin-left: 17px;
}
.profileField:hover{
    cursor: pointer;
}
.profileFieldImg{
    display: none;
    position: absolute;
    background-image: url("../images/small.png");
    background-size: cover;
    width: 198px;
    height: 148px;
    margin-top: -20px;
    left: -10px;
    z-index: 10;
}
.profileFieldImg > ul{
    display: flex;
    list-style: none;
    margin: 48px 6px 27px 6px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 70px;
    line-height: 1.5;

}
.profileFieldImg > ul > li > a{
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #1C5484;
}
.profileFieldImg > ul > li > a:hover{
    color: #F36528;
}
.search-box{
    position: relative;
}
.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color:#fff;
}
.input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;
}
.btn-search > img{
    margin-bottom: 3px;
}
.btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.flagFields{
    margin-left: 22px;
}
.flagFields >img:hover{
    cursor: pointer;
}
.otherFlags{
    right: -12px;
    border-radius: 9px;
    background: #ABCBCD;
    margin-top: 13px;
    position: absolute;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    display: none;
    z-index: 10;
}
.otherFlags > li{
    margin: 8px 0px;
}
.firstFlag > a{
    margin: 4px 12px 0px 12px;
}
.secondFlag > a{
    margin: 0px 12px 4px 12px;
}
.otherFlags > li:hover{
    cursor: pointer;
}
.searchIcons{
    width: 25px;
    height: 25px;
    margin: 9px;
}
.menu{
    margin-top:13px;
}
.menu > ul{
    /*font-size: 16px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding-left: 0px !important;
}
.menu > ul > li > a{
    color: white;
}
.menu > ul > li > a:hover{
    text-decoration: none;
    color: #F36528;
}
.menuAbout{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.menuAbout:hover{
    color: #F36528;
    cursor: pointer;
}
.menuCourses{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.menuCourses:hover{
    color: #F36528;
    cursor: pointer;
}
.imagesLi{
    position: absolute;
}
.btnBack{
    border: none;
    background: transparent;
    outline: none;
    position: relative;
}
.btnBack > img{
    width: 132px;
    height: 48px;
}
.btnBack:hover img {
    content: url('../images/circlehover.png');
}
.btnBack:hover span {
    color: white;
}
.btnBack > span{
    color: #F36528;
    font-size: 11px;
    font-weight: 500;
    font-family: "Roboto",sans-serif;
    position: absolute;
    top: 17px;
    left: 0px;
    width: 100%;
}

.dropDownAbout{
    background-image: url("../images/small.png");
    background-repeat: no-repeat;
    background-size: 81%;
    width: 158px;
    height: 118px;
    position: absolute;
    margin-top: -6px;
    margin-left: -9px;
    display: none;
}
.dropDownLi{
    position: relative;
}
.whiteLi > a{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}
.dropDownAbout > ul{
    color: #1C5484;
    font-size: 15px;
    top: 31px;
    line-height: 1.5;
    list-style: none;
    position: relative;
    left: 25px;
    z-index: 100;
    padding-left: 0px !important;

}
.dropDownAbout > ul > li > a{
    color: #1C5484;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.dropDownAbout > ul > li > a:hover{
    text-decoration: none;
    color: #F36528;
}
.dropDownCources{
    background-image: url("../images/big.png");
    width: 296px;
    height: 179px;
    position: absolute;
    margin-top: -6px;
    margin-left: -9px;
    display: none;
}
.dropDownCources > ul{
    width: 251px;
    line-height: 1.5;
    font-size: 14px;
    top: 33px;
    list-style: none;
    position: relative;
    left: 25px;
    z-index: 100;
    padding-left: 0px !important;
}
.dropDownCources > ul > li > a{
    color: #1C5484;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 400;

}

.dropDownCources > ul > li > a:hover {
    text-decoration: none;
    color: #F36528;
}

.mainHeader{
    width: 100%;
    height: 61px;
    background: linear-gradient(#99C0C2,#85B2B6);
    box-shadow: 0px 0px 9px 0px #347D81;
    position: fixed;
    z-index: 50;
}
.mainField{
    width: 86%;
    margin: 9px 5.76% 9px 6.83%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logoTabletField > a > img{
    width: 180px;
    height: 40px;
}
.tabletMenuField{
    width: 152px;
    height: 31px;
}
.menuTabletHeader{
    width: 0px;
    height: 544px;
    position: fixed;
    top:61px;
    z-index: 50;
    right: 0;
    transition: 500ms ease-in-out;
}
.menuTabletActive{
    width: 484px;
}
.menuPersonInfo{
    width: 100%;
    height: 107px;
    background: #79ACAE;
}
.personInfoField{
    position: absolute;
    top: 24px;
    width: 348px;
    left: 47px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.personInfoCircle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #79A7A9;
    background: #80B0B2;
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding: 20px 0px;
}

.personName{
    color: #F36528;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}.personGreetings{
     color: #FFF;
     font-family: "Roboto",sans-serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }
.personSignOrInfo{
    width: 269px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.personSignField{
    width: 163px;
    height: 15px;
    margin: 2px 46px 2px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.personSignField > a{
    color: #F36528;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
}
.personSignField > span{
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.personNameField{
    width: 190px;
    height: 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.tabletMenuNavbar{
    width: 100%;
    height: 437px;
    background-color: rgba(121,172,174, 0.5);
    backdrop-filter: blur(30px);
}
.tabletMenuNavField{
    width: 366px;
    height: 400px;
    position: absolute;
    top: 17px;
    margin: 0px 71px 20px 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.tabletMenuNavField > ul{
    width: 348px;
    height: 346px;
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.tabletCoursesList{
    width: 100%;
    height: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;
}
.tabletCoursesUnderline{
    width: 100%;
    border: 1px solid white;
}
.tabletMenuNavField > ul > li > a{
    text-decoration: none;
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.tabletAllCoursesList > span:hover{
    color: #F36528;
}
.tabletMenuNavField > ul > li >a:hover{
    color: #F36528;
}
.tabletAllCoursesList{
    width: 100%;
    height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tabletAllCoursesList:hover{
    cursor: pointer;
}
.tabletAllCoursesList > span{
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.searchFlagField{
    width: 100%;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tabletSearchField{
    width: 206px;
    height: 41px;
}
.tabletFlagField{
    width: 160px;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tabletFlagField > a{
    margin: 13px;
}
.search-boxTablet{
    position: relative;
}
.input-searchTablet{
    margin-left: 30px;
    height: 40px;
    width: 20px;
    border-style: none;
    padding: 10px;
    font-size: 13px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 20px;
    color:#fff;
}
.input-searchTablet::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-searchTablet{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
    left: -10px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;
}
.btn-searchTablet:focus ~ .input-searchTablet{
    width: 140px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-searchTablet:focus{
    width: 140px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.personMainMenu{
    width: 0px;
    height: 544px;
    position: fixed;
    top:61px;
    z-index: 50;
    /*display: none;*/
    transition: 500ms ease-in-out;
    right: 0;
}
.tabletPersonMenuField{
    position: absolute;
    width: 87px;
    height: 23px;
    margin: 42px 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tabletPersonMenuField:hover{
    cursor: pointer;
}
.tabletPersonMenuField > span{
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.tabletProfileMenuField{
    position: absolute;
    width: 116px;
    height: 211px;
    margin: 40px 83px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.tabletProfileMenuField > li > a{
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.tabletProfileMenuField > li > a:hover{
    color: #F36528;
    cursor: pointer;
}
.personCoursesMenuList{
    width: 0px;
    height: 544px;
    position: fixed;
    top:61px;
    right: 0;
    z-index: 50;
    transition: 500ms ease-in-out;
}
.tabletProfileCoursesField{
    width: 283px;
    height: 143px;
    position: absolute;
    margin: 40px 83px;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.tabletProfileCoursesField > li > a{
    text-decoration: none;
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.tabletProfileCoursesField > li > a:hover{
    cursor: pointer;
    color: #F36528;
}
.backMainMenuCourses:hover{
    cursor: pointer;
}
.tabletMenuIcon:hover{
    cursor: pointer;
}
.tabletUserProfileMenu:hover{
    cursor: pointer;
}
/*end header css*/


/*start footer css*/

.footerBackground{
    margin-top: -50px;
    background-image: url("../images/footerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 738px;
}

.sectionFooter{
    width: 68%;
    height: 615px;
    margin: 97px 16% 0px;
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/*.imagesFooterFields{*/
/*    background-image: url("../images/groupFooterImage.png");*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: contain;*/
/*    width: 100%;*/
/*    height: 557px;*/
/*}*/

.imagesFooterFields{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.leftFooterBg{
    background-image: url("../images/leftImageFooter.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width:659px;
    height: 557px;
    margin-right: 5px;
}
.footerFields{
    width: 515px;
    height: 390px;
    margin: 112px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.footerMenu{
    width: 414px;
    height: 149px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftFooterBlock{
    width: 100%;
    height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.leftMenuFooter{
    width: 138px;
    height: 149px;
}
.leftMenuFooter > ul{
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
}
.leftMenuFooter > ul > li > a{
    text-decoration: none;
    color: #5D9A9D;
}
.rightMenuFooter{
    width: 190px;
    height: 85px;
}
.rightMenuFooter > ul{
    padding-left:0px;
    list-style: none;
    font-size: 18px;
}
.rightMenuFooter > ul > li > a{
    text-decoration: none;
    color: #5D9A9D;
}
.footerConn > span{
    color: #F36528;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.footerBtn{
    width: 100%;
}
.footerBtn > input{
    position: absolute;
    width: 513px;
    height: 45px;
    border-radius: 23px;
    color: white;
    outline: none;
    border: none;
    background: #5D9A9D;
    padding: 0px 170px 0px 20px;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: 400;

}
.footerBtn > input::placeholder{
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.footerBtn > button{
    left: 351px;
    top: 3px;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #5D9A9D;
    /* outline: none; */
    border: 1px solid white;
    width: 158px;
    height: 39px;
    border-radius: 20px;
    background: white;
    position: relative;
}
.linkInstagram{
    margin: 0px 5px;
}
.rightFooterBg{
    width:623px;
    height: 435px;
    background-image: url("../images/qw.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin-left: 5px;
}
.formMail{
    width: 540px;
    height: 338px;
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formName{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.formName > span{
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #5D9A9D;
}
.inputsMail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputsMail > input{
    padding: 0px 37px;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    height: 60px;
    margin: 8px 0px;
    background: none;
    border: 3px solid #5D9A9D;
    outline: none;
    color: #ACACAC;
    border-radius: 30px;
}
.inputsMail > input::placeholder{
    color: #ACACAC;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.formContinue > button{
    height: 58px;
    width: 204px;
    border-radius: 29px;
    background: #5D9A9D;
    color:white;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 600;
    border:none;
}
.paypalFooter{
    width: 1163px;
    height: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.copyTextFooter{
    width: 267px;
    height: 18px;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.policyText{
    height: 18px;
    width: 262px;
}
.policyText > ul{
    width: 100%;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.policyText > ul > li > a{
    text-decoration: none;
    color: white;
}
.payLogoFooter{
    width: 112px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
/*end footer css*/

/*start main page css*/
.headerBackground{
    background-image: url("../images/headerimg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1134px;
}
.apply{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    left: 17%;
    top: 515px;
    width: 608px;
    height: 281px;
    position: absolute;
}
.applyMarket{
    letter-spacing: 2px;
    width: 472px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #F36528;
    z-index: 10;
}
.boundaries{
    margin-bottom: 60px;
    font-family: "Roboto",sans-serif;
    letter-spacing: 1px;
    width: 100%;
    color: white;
    font-size: 28px;
    font-weight: 500;
    z-index: 10;
}
.apply > a{
    /*width: 265px;*/
    /*height: 114px;*/
    background: transparent;
    border: none;
    z-index: 10;
    position: relative;
}
.apply > a > span{
    position: absolute;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    color: #F36528;
    font-weight: 700;
    left: 0;
    width: 100%;
    top: 26px;
    text-align: center;
}
.apply > a:hover span{
    color: white;
}
.apply > a > img{
    width: 100%;
    height: 100%;
}
.apply > a > img:hover{
    cursor: pointer;
}
.apply > a:hover img{
    content: url('../images/applyhover.png');
}
.sectionTwo{
    background-image: url("../images/diagonal.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 439px;
}
.sectionInfo{
    width: 44%;
    height: 156px;
    position: absolute;
    margin: 127px 28% 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.numbersInfo{
    width: 104px;
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.addSymbol{
    color: #1C5484;
    font-family: "Roboto",sans-serif;
    font-size: 32px;
    font-weight:700;
}
.numberSectionTwo{
    color: #1C5484;
    font-family: "Roboto",sans-serif;
    font-size: 32px;
    font-weight:700;
}
.textSectionTwo{
    color: #1C5484;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight:400;
}
#scroll-btn {
    opacity: 0;
    position: fixed;
    bottom: 10%;
    right: 10%;
    border-radius: 50%;
    border: hidden;
    transition: opacity 0.5s, transform 0.5s;
}
#scroll-btn > img{
    width: 50px;
}
#scroll-btn.show {
    z-index: 60;
    border: hidden;
    opacity: 1;
    transition: opacity 1s, transform 0.3ms;
}
.sectionThree{
    background-image: url("../images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1080px;
}
.learn{
    top: 188px;
    width: 92%;
    height: 639px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.learnInfo{
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.learnImg{
    width: 42%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.learnImg > img{
    width: 648px;
    height: 639px;
}
.managementBtn > a{
    position: relative;
}
.managementBtn > a:hover img{
    content: url("../images/logomanaghover.png");
}
.managementBtn > a >span{
    position: absolute;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 900;
    left: 0;
    width: 100%;
    text-align: center;
    top: 0px;
    color: #F36528;
}
.managementBtn > a:hover span{
    color: white;
}
.coursesBg{
    background-image: url("../images/rec.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 162px;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coursesBg > span{
    color: #F16D35;
    font-family: "Roboto Slab", sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
}
.coursesBg > p{
    color: white;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-width: 400;
}
.logoManagement{
    width: 515px;
    height: 124px;
    display: flex;
    flex-direction: row;
}
.courseLogo{
    width: 112px;
}
.courseLogo > img{
    margin-top:10px;
}
.courseTitle{
    width:401px;
    padding-left:22px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.courseTitle > span{
    -webkit-text-stroke: 2px white;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 5.28px;
    color: transparent;
}
.sectionFour{
    background-image: url("../images/sectionFour.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -57px;
    width: 100%;
    height: 1077px;
}
.answers{
    margin: 200px 16.5% 0px;
    width: 67%;
    height: 677px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.frequency{
    width: 100%;
    height: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.freqAsked{
    font-size: 40px;
    font-family: "Roboto Slab",sans-serif;
    font-weight: 900;
    color: #F16D35;
    letter-spacing: 2px;
    text-align: center;
}
.freqLook{
    font-family: "Roboto",sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: white;
}
.questions{
    width: 100%;
    height: 474px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftQuestions{
    width: 48%;
}
.rightQuestions{
    width: 48%;
}
.answersField{
    width: 100%;
    min-height: 64px;
    margin-bottom: 30px;
    border-radius: 32px;
    padding: 0px 30px;
    background: rgba(147,188,191,0.7);
}
.answersField:hover{
    cursor:pointer;
}
.questionField > span{
    font-size: 16px;
    color: white;
    font-weight: 600;
    font-family: "Roboto",sans-serif;
}
.questionField{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.answerQuestion{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    padding: 30px 0px;
    font-size: 18px;
    color: white;
    display: none;
}
.sectionFive{
    background-image: url("../images/partnerBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 544px;
    margin-top: -65px;
    position:relative;
}
.partnerSection{
    width: 100%;
    height: 357px;
    position: absolute;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left:50%;
    top:47%;
    transform:translate(-50%, -50%);
    overflow: hidden;
}
.partnersTitle{
    font-family: "Roboto Slab",sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #F16D35;
}
.carousel {
    margin           : 0 auto;
    width            : 100%;
    position         : relative;
}
.carousel-slides {
    display          : flex;
    list-style       : none;
    gap              : 51px;
    flex-shrink      : 1;
}
.carousel-slide {
    position         : relative;
    min-width        : 0;
    flex-shrink      : 0;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    min-width        : 0;
    cursor: pointer;
}
.carousel-slide .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.carousel-slide:hover .img-top {
    display: inline;
}
.sectionSix{
    margin-top: -56px;
    background-image: url("../images/testimonialBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 924px;
}
.testimonialsImg{
    align-items: center;
}
.testimonial {
    margin: 137px 0 0 0;
    width: 100%;
    height: 677px;
    position: absolute;
}
.slide-content {
    height: 500px;
    overflow: hidden;
}
.testimonialsTitles{
    /*width: 447px;*/
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.testimonialOrangeTitle{
    font-size: 40px;
    font-family: "Roboto Slab",sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    color: #F16D35;
}
.testimonialWhiteTitle{
    font-family: "Roboto",sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
}

.blockTestimonial{
    background-image: url("../images/inactivetestimonial.png");
    background-repeat: no-repeat;
    background-size: 100%;
    /*width: 85%;*/
    height: 70%;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: auto;
}
/*.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {*/
/*    transform: none!important;*/
/*}*/
.blockTestimonial:hover{
    background-image: url("../images/activetestimonial.png");
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    /*width: 29%;*/
    height: 100%;
}
/*.swiper-pagination-bullets.swiper-pagination-horizontal{*/
/*    left: 46.5% !important;*/
/*}*/
.sectionSix .swiper{
    margin-top: 70px;
}
.sectionSix .swiper-wrapper{
    margin-left: 42px;
}
.fieldsLinkdin{
    width:100%;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.testimonialsAuthor{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 24px;
    width: 141px;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height:37px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
.intoBlockTestimonial{
    width: 78%;
    height: 44%;
    margin: 11.5% 9%;
    padding: 37px 0 42px;
}
:root {
    --swiper-theme-color: #F36528!important;
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px))!important;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px))!important;
}
.testimonialsText{
    width: 100%;
    height: 155px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sectionSeven{
    margin-top: -49px;
    background-image: url("../images/blogBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1077px;
}
.sectionBlog{
    width: 66%;
    height: 789px;
    position: absolute;
    margin: 144px 17% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sectionBlog > span{
    font-family: "Roboto Slab",sans-serif;
    font-size: 40px;
    color: #F16D35;
    font-weight: 900;
    letter-spacing: 2px;
}
.blogsCard{
    width: 98%;
    height: 482px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blogsArticles{
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.blogText{
    width: 291px;
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: #1C5484;
}
.blogLine{
    width: 59%;
}
.blogLine > div{
    border-top: 2px solid white;
}
.blogBtn{
    width: 186px;
}
.blogBtn > a{
    position: relative;
}
.blogBtn > a:hover img{
    content: url("../images/articlebtnhover.png");
}
.blogBtn > a > span{
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #F36528;
}
.blogBtn > a:hover span{
    color: white;
}
.individualCards{
    margin: 0px 15px;
    border-radius: 30px;
    width: 377px;
    height: 482px;
}
/*.cardsMiddle{*/
/*    margin: 0px 10px;*/
/*}*/
.cardsimg{
    height: 233px;
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.cardsimg > img{
    width: 100%;
    height: 100%;
}
.cardsText{
    height: 247px;
    width: 100%;
    background: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.cardsTextField{
    height: 227px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cardsTextInfo{
    padding: 21px 5%;
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.cardsLike{
    height: 43px;
    width: 74%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cardsLike > a{
    font-family: "Roboto",sans-serif;
    font-size: 19px;
    color: #F36528;
    font-weight: 500;
}
.cardsLike > img:hover{
    cursor:pointer;
}
.cardsInfo{
    display: -webkit-box;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1C5484;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height:48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
.cardsDate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: #555555;
}
.articleDate{
    margin-left: 10px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.sectionEight{
    background-image: url("../images/eightBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 502px;
    margin-top: -56px;
}
.haveQuestions{
    width: 44%;
    height: 337px;
    position: absolute;
    margin: 83px 28% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.questionTitle{
    font-family: "Roboto Slab",sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.6px;
    color: white;
}
.questionForm{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.questionFields{
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.questionbutton{
    width: 201px;
    height: 78px;
}
.questionbutton > button{
    border: none;
    background: none;
    position: relative;
}
.questionbutton > button:hover img{
    content: url("../images/questionbtn.png.png");
}
.questionbutton > button > span{
    position: absolute;
    left: 0;
    width: 100%;
    top: 28px;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    color: #F36528;
    font-weight: 500;
    /*margin: 28px 28px;*/
}
.questionbutton > button:hover span{
    color: white;
}
.leftQuestionField{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.leftQuestionField > input{
    width: 100%;
    height:62px;
    border-radius:31px;
    background: rgba(116,168,171,0.7);
    box-shadow: 0px 0px 8px 0px #5D889D;
    border: none;
    outline: none;
    padding: 0px 15px;
    color: #D9E3E4;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}
.leftQuestionField > input::placeholder{
    color: #D9E3E4;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}
.rightQuestionField{
    width: 48%;
}
.rightQuestionField > textarea{
    width: 100%;
    height: 100%;
    border-radius:30px;
    background: rgba(116,168,171,0.7);
    box-shadow: 0px 0px 8px 0px #5D889D;
    border: none;
    outline: none;
    padding: 20px 28px;
    color: #D9E3E4;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}
.rightQuestionField > textarea::placeholder{
    color: #D9E3E4;
    font-size: 16px;
}
/*end main page css*/

/*@media screen and (max-width: 1800px) {*/
/*    .learnImg > img {*/
/*        width: 548px;*/
/*        height: 539px;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 1400px) {*/
/*    .learnImg > img {*/
/*        width: 509px;*/
/*        height: 500px;*/
/*    }*/
/*}*/