@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
/*start header css*/

.header{
    width: 100%;
    height: 158px;
    background: linear-gradient(#99C0C2,#85B2B6);
    box-shadow: 0px 0px 9px 0px #347D81;
    position: fixed;
    z-index: 50;
}
.menuSection{
    width: 66%;
    margin: 0px auto;
    height: 140px;
    position: relative;
    top: 15px;
}
.logo > img{
    width:255px;
    height: 48px;
}
.logoSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons{
    width: 152px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchIcons{
    width: 25px;
    height: 25px;
    margin: 9px;
}
.menu{
    margin-top:20px;
}
.menu > ul{
    /*font-size: 16px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding-left: 0px !important;
}
.menu > ul > li > a{
    color: white;
}
.menu > ul > li > a:hover{
    text-decoration: none;
    color: #F36528;
}
.menuAbout{
    color: white;
}
.menuAbout:hover{
    color: #F36528;
    cursor: pointer;
}
.menuCourses{
    color: white;
}
.menuCourses:hover{
    color: #F36528;
    cursor: pointer;
}
.imagesLi{
    position: absolute;
}
.btnBack{
    border: none;
    background: transparent;
    outline: none;
}
.dropDownAbout{
    background-image: url("../images/small.png");
    width: 158px;
    height: 118px;
    position: absolute;
    margin-top: -6px;
    margin-left: -9px;
    display: none;
}
.dropDownLi{
    position: relative;
}
.whiteLi > a{
    text-decoration: none;
}
.dropDownAbout > ul{
    color: #1C5484;
    font-size: 15px;
    top: 42px;
    list-style: none;
    position: relative;
    left: 25px;
    z-index: 100;
    padding-left: 0px !important;

}
.dropDownAbout > ul > li > a{
    color: #1C5484;
    text-decoration: none;
}
.dropDownAbout > ul > li > a:hover{
    text-decoration: none;
    color: #F36528;
}
.dropDownCources{
    background-image: url("../images/big.png");
    width: 296px;
    height: 179px;
    position: absolute;
    margin-top: -6px;
    margin-left: -9px;
    display: none;
}
.dropDownCources > ul{
    width: 251px;
    line-height: 1.7;
    font-size: 14px;
    top: 45px;
    list-style: none;
    position: relative;
    left: 25px;
    z-index: 100;
    padding-left: 0px !important;
}
.dropDownCources > ul > li > a{
    color: #1C5484;
    text-decoration: none;
}

.dropDownCources > ul > li > a:hover {
    text-decoration: none;
    color: #F36528;
}

/*end header css*/


/*start footer css*/

.footerBackground{
    margin-top: -50px;
    background-image: url("../images/footerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 738px;
}

.sectionFooter{
    width: 68%;
    height: 615px;
    margin: 97px 16% 0px;
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/*.imagesFooterFields{*/
/*    background-image: url("../images/groupFooterImage.png");*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: contain;*/
/*    width: 100%;*/
/*    height: 557px;*/
/*}*/

.imagesFooterFields{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.leftFooterBg{
    background-image: url("../images/leftImageFooter.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width:659px;
    height: 557px;
    margin-right: 5px;

}
.footerFields{
    width: 515px;
    height: 411px;
    margin: 112px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.footerMenu{
    width: 414px;
    height: 149px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftFooterBlock{
    width: 100%;
    height: 269px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.leftMenuFooter{
    width: 138px;
    height: 149px;
}
.leftMenuFooter > ul{
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}
.leftMenuFooter > ul > li > a{
    text-decoration: none;
    color: #5D9A9D;
}
.rightMenuFooter{
    width: 190px;
    height: 85px;
}
.rightMenuFooter > ul{
    padding-left:0px;
    list-style: none;
    font-size: 18px;
}
.rightMenuFooter > ul > li > a{
    text-decoration: none;
    color: #5D9A9D;
}
.footerConn > span{
    color: #F36528;
    font-size: 15px;
    font-weight: 600;
}
.footerBtn{
    width: 100%;
}
.footerBtn > input{
    position: absolute;
    width: 513px;
    height: 45px;
    border-radius: 23px;
    color: white;
    outline: none;
    border: none;
    background: #5D9A9D;
    padding: 0px 170px 0px 20px;

}
.footerBtn > input::placeholder{
    color: white;
}
.footerBtn > button{
    left: 351px;
    top: 3px;
    font-size: 20px;
    font-weight: 500;
    color: #5D9A9D;
    /* outline: none; */
    border: 1px solid white;
    width: 158px;
    height: 39px;
    border-radius: 20px;
    background: white;
    position: relative;
}
.linkInstagram{
    margin: 0px 5px;
}
.rightFooterBg{
    width:623px;
    height: 435px;
    background-image: url("../images/qw.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin-left: 5px;
}
.formMail{
    width: 540px;
    height: 338px;
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formName{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.formName > span{
    font-size: 24px;
    font-weight: 500;
    color: #5D9A9D;
}
.inputsMail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputsMail > input{
    padding: 0px 37px;
    font-size: 15px;
    width: 100%;
    height: 60px;
    margin: 8px 0px;
    background: none;
    border: 3px solid #5D9A9D;
    outline: none;
    color: #ACACAC;
    border-radius: 30px;
}
.inputsMail > input::placeholder{
    color: #ACACAC;
    font-size: 15px;
}
.formContinue > button{
    height: 58px;
    width: 204px;
    border-radius: 29px;
    background: #5D9A9D;
    color:white;
    font-size: 20px;
    border:none;
}
.paypalFooter{
    width: 1163px;
    height: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.copyTextFooter{
    width: 267px;
    height: 18px;
    font-size: 15px;
    color: white;

}
.policyText{
    height: 18px;
    width: 262px;
}
.policyText > ul{
    width: 100%;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.policyText > ul > li > a{
    text-decoration: none;
    color: white;
}
.payLogoFooter{
    max-width: 112px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
/*end footer css*/

/*start main page css*/
.headerBackground{
    background-image: url("../images/headerimg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1134px;
    /*position: relative;*/
}
.apply{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    left: 17%;
    top: 660px;
    width: 602px;
    height: 281px;
    position: absolute;
}
.applyMarket{
    letter-spacing: 1px;
    width: 470px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #F36528;
    z-index: 10;
}
.boundaries{
    letter-spacing: 3px;
    width: 602px;
    color: white;
    font-size: 31px;
    z-index: 10;
}
.apply > a{
    width: 265px;
    height: 114px;
    background: transparent;
    border: none;
    z-index: 10;
}
.apply > a > img{
    width: 100%;
    height: 100%;
}
.apply > a > img:hover{
    cursor: pointer;
}
.sectionTwo{
    background-image: url("../images/diagonal.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 439px;
}
.sectionInfo{
    width: 44%;
    height: 156px;
    position: absolute;
    margin: 127px 28% 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.numbersInfo{
    width: 104px;
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.numberSectionTwo{
    color: #1C5484;
    font-size: 32px;
    font-weight:600;
}
.textSectionTwo{
    color: #1C5484;
    font-size: 20px;
}
.sectionThree{
    background-image: url("../images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1080px;
}
.learn{
    top: 188px;
    width: 100%;
    height: 639px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.learnInfo{
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.learnImg{
    width: 42%;
}
.learnImg > img{
    width: 648px;
    height: 639px;
}
.coursesBg{
    background-image: url("../images/rec.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 162px;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coursesBg > span{
    color: #F16D35;
    font-family: "Roboto Slab", sans-serif;
    font-size: 40px;
    font-weight: 500;
}
.coursesBg > p{
    color: white;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-width: 300;
}
.logoManagement{
    width: 515px;
    height: 124px;
    display: flex;
    flex-direction: row;
}
.courseLogo{
    width: 112px;
}
.courseLogo > img{
    margin-top:10px;
}
.courseTitle{
    width:401px;
    padding-left:22px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.courseTitle > span{
    -webkit-text-stroke: 1px white;
    font-size: 48px;
    font-weight: 600;
    color: transparent;
}
.sectionFour{
    background-image: url("../images/sectionFour.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -57px;
    width: 100%;
    height: 1077px;
}
.answers{
    margin: 200px 16.5% 0px;
    width: 67%;
    height: 677px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.frequency{
    width: 53%;
    height: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.freqAsked{
    font-size: 40px;
    font-family: "Roboto Slab",sans-serif;
    font-weight: 600;
    color: #F16D35;
}
.freqLook{
    font-size: 32px;
    font-weight: 300;
    color: white;
}
.questions{
    width: 100%;
    height: 474px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftQuestions{
    width: 48%;
}
.rightQuestions{
    width: 48%;
}
.answersField{
    width: 100%;
    min-height: 64px;
    margin-bottom: 30px;
    border-radius: 32px;
    padding: 0px 30px;
    background: rgba(147,188,191,0.7);

}
.answersField:hover{
    cursor:pointer;
}
.questionField > span{
    font-size: 16px;
    color: white;
}
.questionField{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.answerQuestion{
    padding: 30px 0px;
    font-size: 18px;
    color: white;
    display: none;
}
.sectionFive{
    background-image: url("../images/partnerBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 544px;
    margin-top: -56px;
    position:relative;
}
.partnerSection{
    width: 100%;
    height: 303px;
    position: absolute;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    overflow: hidden;
}
.partnersTitle{
    font-family: "Roboto Slab",sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #F16D35;
}
.carousel {
    margin           : 0 auto;
    width            : 100%;
    position         : relative;
}
.carousel-slides {
    display          : flex;
    list-style       : none;
    gap              : 51px;
    flex-shrink      : 1;
}
.carousel-slide {
    position         : relative;
    min-width        : 0;
    flex-shrink      : 0;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    min-width        : 0;
}
.carousel-slide .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.carousel-slide:hover .img-top {
    display: inline;
}
.sectionSix{
    margin-top: -56px;
    background-image: url("../images/testimonialBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 924px;
}
.testimonial{
    margin: 137px 17% 0px;
    width: 66%;
    height: 677px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.testimonialsTitles{
    width: 447px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.testimonialOrangeTitle{
    font-size: 40px;
    font-family: "Roboto Slab",sans-serif;
    font-weight: 600;
    color: #F16D35;
}
.testimonialWhiteTitle{
    font-size: 32px;
    font-weight: 300;
    color: #FFFFFF;
}
.testimonialsImg{
    width: 100%;
    margin-top: 32px;
    /* height: 382px; */
    height: 79%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.blockTestimonial{
    background-image: url("../images/inactivetestimonial.png");
    background-repeat: no-repeat;
    /*background-position: top;*/
    background-size: 100%;
    width: 30%;
    height: 100%;
}
.blockTestimonial:hover{
    background-image: url("../images/activetestimonial.png");
    background-repeat: no-repeat;
    /*background-position: top;*/
    background-size: 100%;
    cursor: pointer;
    width: 30%;
    height: 100%;
}
.fieldsLinkdin{
    width:100%;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.testimonialsAuthor{
    font-size: 24px;
    width: 141px;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height:37px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
.intoBlockTestimonial{
    width: 78%;
    height: 44%;
    margin: 11.5% 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.testimonialsText{
    width: 100%;
    height: 155px;
    font-size: 20px;
    color: white;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: pre-wrap;*/
}
.testimonialsCircle{
    width: 143px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.caruselCircleTestimonial{
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 10px;
}
.sectionSeven{
    margin-top: -49px;
    background-image: url("../images/blogBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1077px;
}
.sectionBlog{
    width: 66%;
    height: 789px;
    position: absolute;
    margin: 144px 17% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sectionBlog > span{
    font-family: "Roboto Slab",sans-serif;
    font-size: 40px;
    color: #F16D35;
    font-weight: 700;
}
.blogsCard{
    width: 98%;
    height: 482px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blogsArticles{
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.blogText{
    width: 291px;
    font-size: 24px;
    color: #1C5484;
}
.blogLine{
    width: 59%;
}
.blogLine > div{
    border-top: 2px solid white;
}
.blogBtn{
    width: 186px;
}
.individualCards{
    border-radius: 30px;
    width: 377px;
    height: 482px;
}
.cardsMiddle{
    margin: 0px 10px;
}
.cardsimg{
    height: 233px;
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.cardsimg > img{
    width: 100%;
    height: 100%;
}
.cardsText{
    height: 247px;
    width: 100%;
    background: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.cardsTextField{
    height: 227px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cardsTextInfo{
    padding: 21px 5%;
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.cardsLike{
    height: 43px;
    width: 74%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cardsLike > a{
    font-size: 19px;
    color: #F36528;
    font-weight: 500;
}
.cardsLike > img:hover{
    cursor:pointer;
}
.cardsInfo{
    display: -webkit-box;
    font-size: 18px;
    color: #1C5484;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height:48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
.cardsDate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: #555555;
}
.articleDate{
    margin-left: 10px;
}
.sectionEight{
    background-image: url("../images/eightBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 502px;
    margin-top: -56px;
}
.haveQuestions{
    width: 44%;
    height: 337px;
    position: absolute;
    margin: 83px 28% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.questionTitle{
    font-family: "Roboto Slab",sans-serif;
    font-size: 32px;
    color: white;
}
.questionForm{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.questionFields{
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.questionbutton{
    width: 201px;
    height: 78px;
}
.questionbutton > button{
    border: none;
    background: none;
}
.leftQuestionField{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.leftQuestionField > input{
    width: 100%;
    height:62px;
    border-radius:31px;
    background: rgba(116,168,171,0.7);
    box-shadow: 0px 0px 8px 0px #5D889D;
    border: none;
    outline: none;
    padding: 0px 15px;
    color: #D9E3E4;
    font-size: 16px;
}
.leftQuestionField > input::placeholder{
    color: #D9E3E4;
    font-size: 16px;
}
.rightQuestionField{
    width: 48%;
}
.rightQuestionField > textarea{
    width: 100%;
    height: 100%;
    border-radius:30px;
    background: rgba(116,168,171,0.7);
    box-shadow: 0px 0px 8px 0px #5D889D;
    border: none;
    outline: none;
    padding: 24px 28px;
    color: #D9E3E4;
    font-size: 16px;
}
.rightQuestionField > textarea::placeholder{
    color: #D9E3E4;
    font-size: 16px;
}

/*end main page css*/