.myCard{
    background-image: url("../images/mycardBg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1193px;
}
.myCardMainField{
    width: 83.5%;
    height: 709px;
    position: absolute;
    margin: 212px 0px 0px 16.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.myCardMainField ul{
    padding-left: 0rem!important;
}
.totalPriceField{
    width: 100%;
    height: 90px;
    position: absolute;
    margin: 1006px 0px 0px 0px;
    background: #74A8AB;
    box-shadow: 0px 0px 6px 2px #549099;

}
.myCardTotalPrice{
    width: 376px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.totalPriceFieldSection{
    width: 68%;
    height: 90px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.myCardTotalPrice > button{
    background: transparent;
    border: none;
    position: relative;

}
.myCardTotalPrice > span{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-decoration: underline;
    color: white;
}
.myCardTotalPrice > button > span{
    position: absolute;
    left: 0;
    margin: 13px 23px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #F36528;
}
.userProfileMenuField{
    width: 80.5%;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.userProfileMenuField > span{
    font-family: "Roboto Slab",sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #F36528;
}
.userProfileMenu{
    width: 506px;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.userProfileMenu > li > a{
    text-decoration: none;
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.myCardFields{
    width: 80.5%;
    height: 547px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardCourses{
    width: 80%;
}
.myCoursesProfileField{
    width: 405px;
    height: 533px;
    margin-right: 60px;
    background: #74A8AB;
    border-radius: 30px;
    box-shadow: 0px 0px 6px 2px #549099;
}
.myCoursesFieldSection{
    width: 291px;
    height: 459px;
    margin: 37px 36px 37px 78px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.myCoursesFieldSectionLeft{
    width: 250px;
    height: 459px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.myCoursesFieldSectionLeft > span{
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.myCoursesFieldSectionLeft > img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.usersProfileInfo{
    width: 249px;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.usersProfileInfoPhone > span{
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    margin-left: 37px;
    color: white;

}
.usersProfileInfoEmail > span{
    font-family: "Roboto",sans-serif;
    margin-left: 37px;
    font-size: 20px;
    color: white;

}
.usersProfileInfoLinkdin > span{
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    margin-left: 37px;
    color: white;
}
.myCardFieldAcceptCourses{
    width: 81%;
    height: 547px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 2));
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.myCardBlocksField{
    width: 377px;
    height: 99%;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
}
.myCoursesBlocksField{
    width: 377px;
    height: 481px;
    margin-right: 60px;
    border-radius: 30px;
    background: #74A8AB;
    box-shadow: 0px 0px 6px 2px #549099;
}
.myCardBlockButtons{
    width: 270px;
    height: 23px;
    margin-left: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.myCardBlockButtons > span{
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
}
.myCardBlockButtons > span:hover{
    cursor: pointer;
}
.myCoursesBlocksFieldMain{
    width: 344px;
    height: 444px;
    margin: 16px 16px 21px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.myCardImageBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 344px;
    height: 257px;
}
.myCardImageBlock > img{
    width: 344px;
    height: 214px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.myCardNameRating{
    width: 305px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.myCardNameRating > span{
    font-family: "Roboto slab", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.myCardNameRating > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.myCardBlockInfo{
    width: 312px;
    height: 133px;
    margin: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.myCardInfoTextIcon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 312px;
    height: 73px;
}
.myCardInfoTextIconFirst{
    width: 223px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}
.myCardInfoTextIconFirst > img{
    margin-right: 11px;
}
.myCardInfoTextIconFirst > span{
    color: white;
    font-size: 16px;
    font-family: "Roboto Medium", sans-serif;
    font-weight: 500;
}
.myCardInfoTextIconSecond{
    width: 312px;
    height: 28px;
}
.myCardInfoTextIconSecond > span{
    color: white;
    font-size: 16px;
    font-family: "Roboto Medium", sans-serif;
    font-weight: 500;

}
.myCardInfoTextIconSecond > img{
    margin-right: 11px;
}
.myCardInfoButtonField{
    width: 312px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.myCardInfoButtonField > button{
    background: transparent;
    border: none;
    margin-left: 71px;

}
.myCardInfoButtonField > button{
    position: relative;
}
.myCardInfoButtonField > button > span{
    position: absolute;
    left: 0;
    margin: 13px 26px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.btnGroupLikeMarket{
    width: 99px;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*end my-card page*/

/*start checkout page*/
.checkoutField{
    width: 100%;
    height: 885px;
    background-image: url("../images/checkoutsmallBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.checkoutFieldSection{
    width: 67%;
    height: 561px;
    margin: 212px 16.5% 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkoutTitleField{
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.checkoutTitleField > div{
    font-size: 40px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 600;
    color: #F36528;
}
.checkoutTitleField >span{
    margin-right: 39px;
    font-size: 24px;
    font-family: 'Roboto',sans-serif;
    color: white;
}
.checkoutTitleField >span:hover{
    cursor: pointer;
}
.checkoutInputsSectionField{
    width: 100%;
    height: 439px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.checkoutInputsSectionLeftField{
    width: 515px;
    height: 439px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkoutInputsSectionRightField{
    width: 405px;
    height: 213px;
    border-radius: 20px;
    background: #74A8AB;
}
.checkoutInputsFirstField{
    width: 100%;
    height: 215px;
}
.checkoutInputsFirstField > span{
    font-family: 'Roboto',sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.checkoutInputsSecondField{
    width: 100%;
    height: 177px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.checkoutInputsSecondField > span{
    font-family: "Roboto",sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: white;
}
.courseManualPriceField{
    width: 515px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.checkoutDetalisCoursesField{
    min-height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.courseManualPriceFieldInfo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.courseManualPriceFieldInfo > img{
    width: 60px;
    height: 51px;
}
.courseManualPriceFieldInfo > span{
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-left: 17px;
}
.courseManualPriceFieldPay{
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    color: white;
}
.checkoutInputsRadioField{
    width: 514px;
    height: 138px;
    border-radius: 20px;
    background: #74A8AB;
}
.creditField{
     width: 100%;
    /*height: 410px;*/
}
.mainCreditField{
    width: 100%;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.mainCreditField > label{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.mainCreditField > label >span{
    color: white;
    font-size: 24px;
    font-family: "Roboto",sans-serif;
    margin-left: 21px;

}
.mainCreditField > label >img{
    width: 33px;
    height: 23px;
    margin-left: 34px;

}
.mainCreditField > input{
    width: 20px;
    height: 20px;
    accent-color: #F36528;
    margin-left: 31px;
}
.otherField{
    width: 100%;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.otherField > label{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.otherField > label >span{
    color: white;
    font-size: 24px;
    font-family: "Roboto",sans-serif;
    margin-left: 21px;
}
.otherField > label >img{
    width: 33px;
    height: 23px;
    margin-left: 34px;

}
.otherField > label >img{
    width: 33px;
    height: 23px;
}
.otherField > input{
    width: 20px;
    height: 20px;
    accent-color: #F36528;
    margin-left: 31px;

}
.checkoutCreditOtherField{
    width: 488px;
    height: 98px;
    /*height: 522px;*/
    margin: 20px 13px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.checkoutTotalFieldInfo{
    width: 301px;
    height: 165px;
    margin: 24px 54px 24px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.checkoutTotalFieldInfoTop{
    width: 100%;
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.checkoutTotalFieldInfoTop > p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    width: 100%;
    height: 32px;
    margin-bottom: 7px;
}
.checkoutTotalFieldInfoTop > p > a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    text-decoration: underline;
}
.sumTitle{
    color:white;
    font-weight: 600;
    font-size: 30px;
    font-family: "Roboto",sans-serif;

}
.sumPriceAll{
    color:white;
    font-weight: 400;
    font-size: 30px;
    font-family: "Roboto",sans-serif;

}
.checkoutTotalFieldInfoBottom{
    width: 100%;
    height: 45px;

}
.checkoutTotalFieldInfoBottom > button{
    background: transparent;
    border: none;
    position: relative;
}
.checkoutTotalFieldInfoBottom > button > span{
    font-family: "Roboto",sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #F36528;
    position: absolute;
    left: 0;
    margin: 15px 8px;
}
.checkoutCourseSumPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 35px;
}
.checkoutCreditField{
    display: none;
    width: 100%;
    height: 320px;
    margin-top: 30px;
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-between;

}
.checkoutInputsCreditField{
    width: 100%;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.checkoutInputsCreditField > label{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.checkoutInputsCreditField > input{
    width: 100%;
    height: 64px;
    border-radius: 15px;
    background: #5D9A9D;
    border: none;
    outline: none;
    padding-left: 26px;
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    color: white;
}
.checkoutInputsCreditFieldRow{
    width: 100%;
    height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.checkoutInputLeftField{
    width: 283px;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.checkoutInputLeftField > label{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.checkoutInputLeftField > input{
    width: 100%;
    height: 64px;
    border-radius: 15px;
    background: #5D9A9D;
    border: none;
    outline: none;
    padding-left: 26px;
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    color: white;
}
.checkoutInputRightField{
    width: 174px;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start
}
.checkoutInputRightField > label{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.checkoutInputRightField > input{
    width: 100%;
    height: 64px;
    border-radius: 15px;
    background: #5D9A9D;
    border: none;
    outline: none;
    padding-left: 26px;
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    color: white;
}
.creditCheckbox{
    width: 20px;
    height: 20px;
}
.checkoutCheckboxCreditField > label{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
/*end checkout page*/



.congratulation{
    width: 100%;
    height: 885px;
    background-image: url("../images/background-congratulation-on-achievement-messages.png");
    background-repeat: no-repeat;
}
.congratulationMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.spanHed{
    font-family: Roboto Slab;
    font-size: 48px;
    font-weight: 600;
    line-height: 63.3px;
    color: #F36528;
    text-align: center;
}
.spanAllCourses{
    font-family: Roboto;
    font-size: 35px;
    font-weight: 600;
    line-height: 41.02px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 44px;
}
.CongratulationApplyNowBtnField{
    position: relative;
    width: max-content;
    padding-top: 44px;
    text-align: center;
}
.CongratulationApplyNowBtnField > button{
    background: transparent;
    border: none;
}
.CongratulationApplyNowBtnField > button > img{
    position: relative;
}
.CongratulationApplyNowBtnField > button > span > a{
    color: #F36528;
    margin: 25px 26px;
    position: absolute;
    left: 0px;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 600;
    line-height: 18.2px;
    text-align: left;
    text-decoration: none;
}