.myCard{
    background-image: url("../images/mycardBg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1250px;

}
.myCardContent{
    padding-top: 235px;
    display: flex;
    flex-direction: column;
    gap: 99px;
}
.myCardMainField{
    width: 68%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 108px;
}
.totalPriceField{
    width: 100%;
    height: 90px;
    background: #74A8AB;
    box-shadow: 0px 0px 6px 2px #549099;
}
.myCardTotalPrice{
    width: 376px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.totalPriceFieldSection{
    width: 68%;
    height: 90px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.myCardTotalPrice > button{
    background: transparent;
    border: none;
    position: relative;
}
.myCardTotalPrice > button:hover img{
    content: url("../images/btncheckoutcardhover.png");
}
.myCardTotalPrice > span{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-decoration: underline;
    color: white;
}
.myCardTotalPrice > button > a{
    position: absolute;
    left: 0;
    margin: 13px 23px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #F36528;
    text-decoration: none;
}
.myCardTotalPrice > button:hover a{
    color: white;
}
.userProfileMenuField{
    width: auto;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.userProfileMenuField > span{
    font-family: "Roboto Slab",sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #F36528;
}
.userProfileMenu{
    width: 506px;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.userProfileMenu > li > a{
    text-decoration: none;
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.myCardFields{
    width: 100%;
    height: 547px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardCourses{
    width: 64%;
}
.myCoursesProfileField{
    width: 405px;
    height: 533px;
    display: flex;
    justify-content: center;
    background: #74A8AB;
    border-radius: 30px;
    box-shadow: 0px 0px 6px 2px #549099;
    align-items: center;
}
.myCoursesFieldSection{
    height: 459px;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.myCoursesFieldSectionLeft{
    width: 100%;
    height: 459px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.myCoursesFieldSectionLeft > span{
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.myCoursesFieldSectionLeft > img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.usersProfileInfo{
    width: 249px;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.usersProfileInfoPhone > span{
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    margin-left: 37px;
    color: white;

}
.usersProfileInfoEmail{
    display: flex;
}
.usersProfileInfoEmail > span{
    font-family: "Roboto",sans-serif;
    margin-left: 37px;
    font-size: 20px;
    color: white;

}
.usersProfileInfoLinkdin > span{
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    margin-left: 37px;
    color: white;
}
.myCardFieldAcceptCourses{
    width: calc(100%);
    height: 547px;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding-left: 0rem!important;
    margin-bottom: 0;
}
.myCardBlocksField{
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    align-items: start;
    user-select: none;
}
.myCoursesBlocksField{
    width: 377px;
    height: 481px;
    margin-right: 60px;
    border-radius: 30px;
    background: #74A8AB;
    box-shadow: 0px 0px 6px 2px #549099;
}
.myCardBlockButtons{
    width: calc(100%);
    height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.myCardBlockButtons > span{
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
}
.myCardBlockButtons > span:hover{
    cursor: pointer;
}
.myCoursesBlocksFieldMain{
    /*width: 344px;*/
    height: 460px;
    /*margin: 16px 16px 21px 16px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.myCardImageBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(100%);
    height: 66%;
    gap: 10px;
}
.rightContentMyCard{
    width: 102px;
    height: 60px;
}
.myCardImageBlock > img{
    width: 100%;
    height: auto;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.myCardNameRating{
    width: calc(100%);
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 16px;
}
.myCardNameRating > span{
    width: 66%;
    font-family: "Roboto slab", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.starDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.myCardBlockInfo{
    width: calc(100%);
    height: 34%;
    margin: 0px 16px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}
.myCardInfoTextIcon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: calc(100%);
    gap: 9px;
    height: 86px;
}
.myCardInfoTextIconFirst{
    /*width: 223px;*/
    /*height: 40px;*/
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}
.myCardInfoTextIconFirst > img{
    margin-right: 11px;
    width: 28px;
    height: 28px;
}
.myCardInfoTextIconFirst > span{
    color: white;
    font-size: 16px;
    font-family: "Roboto Medium", sans-serif;
    font-weight: 500;
}
.myCardInfoTextIconSecond{
    display: flex;
}
.myCardInfoTextIconSecond > span{
    color: white;
    font-size: 16px;
    font-family: "Roboto Medium", sans-serif;
    font-weight: 500;
    display: block;
}
.myCardInfoTextIconSecond > img{
    margin-right: 11px;
    width: 28.09px;
    height: 28.09px;
}
.myCardInfoButtonField{
    width: calc(100%);
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.myCardInfoButtonField > button{
    background: transparent;
    border: none;
    margin-left: 37px;
    position: relative;
}
.myCardInfoButtonField > button:hover img{
    content: url("../images/wishlist1hover.png");
}
.myCardInfoButtonField > button > span{
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.myCardInfoButtonField > button:hover span{
    color: white;
}
.btnGroupLikeMarket{
    /*width: 99px;*/
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*end my-card page*/

/*start checkout page*/
.checkoutField{
    width: 100%;
    height: 885px;
    background-image: url("../images/checkoutsmallBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.checkoutFieldSection{
    width: 67%;
    height: 580px;
    margin: 212px 16.5% 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkoutTitleField{
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.checkoutTitleField > div{
    font-size: 40px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 600;
    color: #F36528;
}
.checkoutTitleField >span{
    margin-right: 39px;
    font-size: 24px;
    font-family: 'Roboto',sans-serif;
    color: white;
}
.checkoutTitleField >span:hover{
    cursor: pointer;
}
.checkoutInputsSectionField{
    width: 100%;
    height: 439px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.checkoutInputsSectionLeftField{
    width: 515px;
    height: 439px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkoutInputsSectionRightField{
    width: 405px;
    height: 213px;
    /*margin-top: 54px;*/
    border-radius: 20px;
    background: #74A8AB;
}
.checkoutInputsFirstField{
    width: 100%;
    height: 216px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*gap: 26px;*/
}
.checkoutInputsFirstField > span{
    font-family: 'Roboto',sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: white;
    display: block;
    margin-bottom: 26px;
}
.checkoutCheckboxCreditField{
    display: flex;
    gap: 10px;
    padding-top: 11px;
    text-align: center;
    align-items: center;
}
.checkoutCheckboxCreditField > input{
    width: 25px;
    height: 25px;
}
.checkoutInputsSecondField{
    width: 100%;
    height: 177px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.checkoutInputsSecondField > span{
    font-family: "Roboto",sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: white;
}
.courseManualPriceField{
    width: 515px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.checkoutDetalisCoursesField{
    min-height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.courseManualPriceFieldInfo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.courseManualPriceFieldInfo > img{
    width: 60px;
    height: 51px;
}
.courseManualPriceFieldInfo > span{
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-left: 17px;
}
.courseManualPriceFieldPay{
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    color: white;
}
.checkoutInputsRadioField{
    width: 514px;
    height: 138px;
    display: flex;
    border-radius: 20px;
    background: #74A8AB;
}
.creditField{
    width: 100%;
    /*height: 410px;*/
}
.mainCreditField{
    width: 100%;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.mainCreditField > label{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.mainCreditField > label >span{
    color: white;
    font-size: 24px;
    font-family: "Roboto",sans-serif;
    margin-left: 21px;

}
.mainCreditField > label >img{
    width: 33px;
    height: 23px;
    margin-left: 34px;

}
.mainCreditField > input{
    width: 20px;
    height: 20px;
    accent-color: #F36528;
    margin-left: 31px;
}
.otherField{
    width: 100%;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.otherField > label{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.otherField > label >span{
    color: white;
    font-size: 24px;
    font-family: "Roboto",sans-serif;
    margin-left: 21px;
}
.otherField > label >img{
    width: 33px;
    height: 23px;
    margin-left: 34px;

}
.otherField > label >img{
    width: 33px;
    height: 23px;
}
.otherField > input{
    width: 20px;
    height: 20px;
    accent-color: #F36528;
    margin-left: 31px;

}
.checkoutCreditOtherField{
    width: 488px;
    height: 98px;
    /*height: 522px;*/
    margin: 20px 13px;
    /*position: absolute;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.checkoutTotalFieldInfo{
    width: 301px;
    height: 165px;
    margin: 24px 54px 24px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.checkoutTotalFieldInfoTop{
    width: 100%;
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.checkoutTotalFieldInfoTop > p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    width: 100%;
    height: 32px;
    margin-bottom: 7px;
}
.checkoutTotalFieldInfoTop > p > a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    text-decoration: underline;
}
.sumTitle{
    color:white;
    font-weight: 600;
    font-size: 30px;
    font-family: "Roboto",sans-serif;

}
.sumPriceAll{
    color:white;
    font-weight: 400;
    font-size: 30px;
    font-family: "Roboto",sans-serif;

}
.checkoutTotalFieldInfoBottom{
    width: 100%;
    height: 45px;
}
.checkoutTotalFieldInfoBottom > button{
    background: transparent;
    border: none;
    position: relative;
}
.checkoutTotalFieldInfoBottom > button:hover img{
    content: url("../images/sumBtnCheckouthover.png");
}
.checkoutTotalFieldInfoBottom > button > span{
    font-family: "Roboto",sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #F36528;
    position: absolute;
    left: 0;
    margin: 15px 8px;
}
.checkoutTotalFieldInfoBottom > button:hover span{
    color: white;
}
.checkoutCourseSumPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 35px;
}
.checkoutCreditField{
    display: none;
    width: 100%;
    height: 320px;
    margin-top: 30px;
    /*display: flex;*/
    flex-direction: column;
    gap: 11px;
    justify-content: space-between;

}
.checkoutInputsCreditField{
    width: 100%;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.checkoutInputsCreditField > label{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.checkoutInputsCreditField > input{
    width: 100%;
    height: 64px;
    border-radius: 15px;
    background: #5D9A9D;
    border: none;
    outline: none;
    padding-left: 26px;
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    color: white;
}
.checkoutInputsCreditFieldRow{
    width: 100%;
    height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.checkoutInputLeftField{
    /*width: 283px;*/
    width: 45%;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.checkoutInputLeftField > label{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.checkoutInputLeftField > input{
    width: 100%;
    height: 64px;
    border-radius: 15px;
    background: #5D9A9D;
    border: none;
    outline: none;
    padding-left: 26px;
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    color: white;
}
.checkoutInputRightField{
    /*width: 174px;*/
    width: 45%;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start
}
.checkoutInputRightField > label{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.checkoutInputRightField > input{
    width: 100%;
    height: 64px;
    border-radius: 15px;
    background: #5D9A9D;
    border: none;
    outline: none;
    padding-left: 26px;
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    color: white;
}
.creditCheckbox{
    width: 20px;
    height: 20px;
}
.checkoutCheckboxCreditField > label{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
/*end checkout page*/



.congratulation{
    width: 100%;
    height: 885px;
    background-image: url("../images/background-congratulation-on-achievement-messages.png");
    background-repeat: no-repeat;
}
.congratulationMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.spanHed{
    font-family: Roboto Slab;
    font-size: 48px;
    font-weight: 600;
    line-height: 63.3px;
    color: #F36528;
    text-align: center;
}
.spanAllCourses{
    font-family: Roboto;
    font-size: 35px;
    font-weight: 600;
    line-height: 41.02px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 44px;
}
.CongratulationApplyNowBtnField{
    position: relative;
    width: max-content;
    padding-top: 44px;
    text-align: center;
}
.CongratulationApplyNowBtnField > a{
    background: transparent;
    border: none;
    position: relative;
}
.CongratulationApplyNowBtnField > a:hover img{
    content: url("../images/conbtnhover.png");
}
.CongratulationApplyNowBtnField > a > span{
    color: #F36528;
    margin: 25px 25px;
    position: absolute;
    left: 0px;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 600;
    line-height: 18.2px;
    text-align: left;
    text-decoration: none;
}
.CongratulationApplyNowBtnField > a:hover span{
    color: white;
}
.myCardImageBlock .span2_2{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 0;
}
.myCardImageBlock .spanAmd{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}
.userProfileMenu > li > a:hover{
    color: #F36528;
}
/*LIKE*/
.heart{
    width: 24.19px;
    height: 24px;
}
.like-container{
    filter: url('#filter');
    display: inline-block;
}
.like-cnt{
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 100%;
    transform: translate(-127%, -49%) !important;
    width: 43px;
    height: 44px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    z-index: 10;
}
.like-btn{
    color: #fff;
}
::-moz-selection { background: transparent;}
::selection {background: transparent;}

/*tablet of my card page */
@media screen and (max-width: 1800px) {
    .myCoursesFieldSection {
        margin: 36px 36px 37px 55px;
    }
    .myCardBlockInfo {
        gap: 16px;
    }
}
@media screen and (max-width: 1700px) {
    .myCardImageBlock {
        height: 52%;
    }
    .myCardBlockInfo {
        align-items: end;
    }
    .myCardInfoButtonField {
        width: calc(90%);
    }
    .myCardInfoButtonField > button {
        margin-left: 0;
    }
    .myCoursesFieldSection {
        margin: 36px 36px 37px 45px;
    }
}
@media screen and (max-width: 1600px) {
    .myCoursesFieldSection {
        margin: 36px 36px 37px 45px;
    }
    .myCardBlockInfo {
        gap: 16px;
    }
    .btnGroupLikeMarket .cardImgKarzina {
        width: 34px;
        height: 34px;
    }
    .myCardInfoButtonField > button > span {
        top: 10px;
        font-size: 13px;
    }
    .myCardInfoButtonField > button > img{
        width: 87px;
        height: 39px;
    }
    .myCardImageBlock .span2_2 {
        font-size: 20px;
    }
    .myCardImageBlock .spanAmd {
        font-size: 13px;
    }
    .starDiv img{
        width: 15px;
        height: 15px;
    }
    .myCardNameRating > span {
        font-size: 18px;
    }
}
@media screen and (max-width: 1500px) {
    .myCardBlockButtons > span {
        font-size: 17px;
    }
    .myCardBlocksField {
        height: 92%;
    }
    .myCoursesBlocksFieldMain {
        height: 420px;
    }
    .myCoursesBlocksField {
        height: 460px;
    }
    .myCoursesFieldSectionLeft > img {
        width: 200px;
        height: 200px;
    }
    .myCoursesFieldSectionLeft {
        height: 420px;
    }
    .myCoursesProfileField {
        height: 503px;
    }
    .myCoursesFieldSection {
        margin: 36px 36px 37px 35px;
    }
    .myCoursesFieldSectionRight img{
        width: 22px;
        height: 22px;
        position: relative;
        left: -17px;
    }
    .myCardImageBlock .span2_2{
        font-size: 17px;
        line-height: 18.13px;
    }
    .checkoutInputsRadioField {
        width: 400px;
    }
    .checkoutInputsSectionLeftField {
        width: 400px;
    }
    .checkoutCreditOtherField {
        width: 94%;
    }
    /*.checkoutInputRightField {*/
    /*    width: 45%;*/
    /*}*/
    /*.checkoutInputLeftField {*/
    /*    width: 45%;*/
    /*}*/
}
@media screen and (max-width: 1400px) {
    .myCardFields {
        height: 440px;
    }
    .myCoursesFieldSectionLeft > img {
        width: 130px;
        height: 130px;
    }
    .myCoursesProfileField {
        height: 420px;
    }
    .myCoursesFieldSectionLeft {
        height: 350px;
    }
    .myCoursesFieldSectionLeft > span {
        font-size: 17px;
    }
    .usersProfileInfoLinkdin{
        display: flex;
    }
    .usersProfileInfoPhone > span ,
    .usersProfileInfoEmail > span ,
    .usersProfileInfoLinkdin > span {
        font-size: 17px;
        margin-left: 30px;
    }
    .usersProfileInfoPhone img,
    .usersProfileInfoEmail img,
    .usersProfileInfoLinkdin img{
        width: 25px;
        height: 25px;
    }
    .usersProfileInfo {
        width: 100%;
    }
    .myCardInfoTextIconFirst > img {
        margin-right: 11px;
        width: 18px;
        height: 18px;
    }
    .myCardInfoTextIconSecond > img {
        width: 18px;
        height: 18px;
    }
    .myCardNameRating > span {
        color: white;
        font-family: Roboto Slab;
        font-size: 14px;
        font-weight: 500;
        line-height: 14.3px;
        text-align: left;
    }
    .myCardNameRating img{
        width: 14px;
        height: 14px;
    }
    .myCardInfoTextIconFirst > span ,
    .myCardInfoTextIconSecond > span{
        font-size: 13px;
        font-weight: 500;
        line-height: 12.92px;
        text-align: left;
    }
    .myCoursesBlocksField {
        height: 370px;
    }
    .myCoursesBlocksFieldMain {
        height: 350px;
    }
    .myCardInfoTextIcon {
        gap: 10px;
    }
    .btnGroupLikeMarket img {
        width: 25px;
        height: 25px;
    }
    .myCardInfoButtonField > button > img {
        width: 75px;
        height: 33px;
    }
    .myCardInfoButtonField > button > span {
        top: 7px;
        font-size: 12px;
    }
    /*.myCoursesBlocksFieldMain {*/
    /*    justify-content: space-around;*/
    /*}*/
    .btnGroupLikeMarket {
        width: auto;
    }
    .myCardBlocksField {
        height: 77%;
    }
}
@media screen and (max-width: 1300px) {
    .myCardImageBlock {
        height: 55%;
    }
    .checkoutInputsSectionLeftField {
        width: 360px;
    }
    .checkoutInputsRadioField {
        width: 360px;
    }
    .checkoutInputsSectionRightField {
        width: 360px;
    }
    .checkoutTotalFieldInfo {
        margin: 24px 54px 24px 30px;
    }
}
@media screen and (max-width: 1200px) {
    .myCardMainField {
        gap: 70px;
    }
    .usersProfileInfoPhone > span, .usersProfileInfoEmail > span, .usersProfileInfoLinkdin > span {
        font-size: 17px;
        margin-left: 10px;
    }
    .myCoursesFieldSectionLeft {
        height: 320px;
    }
    .myCoursesProfileField {
        height: 390px;
    }
    .myCardBlocksField {
        width: calc(100%);
    }
    .myCardFieldAcceptCourses {
        grid-auto-columns: calc((100% / 2 - 13px));
    }
    .myCoursesBlocksFieldMain {
        height: 330px;
    }
    .myCoursesBlocksField {
        height: 350px;
    }
    .myCardBlocksField {
        height: 71%;
    }
    .myCardContent {
        gap: 60px;
    }
}
@media screen and (max-width: 1100px) {
    .myCard {
        height: 846px;
    }
    .myCardContent {
        padding-top: 95px;
    }
    .myCardMainField {
        width: auto;
        margin: 0px 6.9% 0px 6.8%
    }
    .userProfileMenuField > span{
        font-size: 22px;
        font-weight: 600;
        line-height: 29.01px;
        text-align: left;
    }
    .userProfileMenu > li > a{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        text-align: left;
    }
    .myCoursesFieldSectionLeft > img{
        width: 93px;
        height: 94px;
    }
    .myCoursesFieldSectionRight img{
        width: 15.18px;
        height: 15.18px;
        left: 0;
    }
    .myCoursesFieldSectionLeft > span{
        font-size: 14px;
        font-weight: 600;
        line-height: 16.41px;
        text-align: center;
    }
    .usersProfileInfoPhone img, .usersProfileInfoEmail img, .usersProfileInfoLinkdin img{
        width: 22px;
        height: 22px;
    }
    .usersProfileInfoPhone > span, .usersProfileInfoEmail > span, .usersProfileInfoLinkdin > span {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        text-align: left;
        margin-left: 16px;
    }
    .myCoursesProfileField {
        width: 203px;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .myCardFields {
        height: 400px;
    }
    .myCoursesFieldSection {
        margin: 0;
        height: 300px;
    }
    .myCoursesFieldSectionLeft {
        height: 270px;
    }
    .usersProfileInfo {
        height: 110px;
    }
    .myCardNameRating > span{
        font-size: 11px;
        font-weight: 500;
        line-height: 14.3px;
        text-align: left;
    }
    .spanHed{
        font-size: 22px;
        font-weight: 600;
        line-height: 29.01px;
        text-align: left;
    }
    .spanAllCourses{
        font-size: 20px;
        font-weight: 600;
        line-height: 23.44px;
        text-align: left;
    }
    .CongratulationApplyNowBtnField{
        width: 93.73px;
        height: 40px;
    }
    .CongratulationApplyNowBtnField > button > span > a{
        font-size: 8px;
        font-weight: 600;
        line-height: 9.38px;
        text-align: left;
        width: max-content;
        margin: 15px 16px;
    }
    .CongratulationApplyNowBtnField img{
        width: 93.73px;
        height: 40px;
    }
    .checkoutFieldSection {
        width: auto;
        margin: 0 6.9% 0 6.8%;
        padding-top: 105px;
        position: relative;
    }
    .checkoutTitleField > div{
        font-size: 22px;
        font-weight: 600;
        line-height: 29.01px;
        text-align: left;
    }
    .checkoutTitleField >span {
        font-size: 13px;
    }
    .checkoutInputsFirstField > span{
        font-size: 18px;
        font-weight: 600;
        line-height: 21.09px;
        text-align: left;
    }
    .mainCreditField > input{
        width: 10px;
        height: 10px;
    }
    .otherField > input{
        width: 10px;
        height: 10px;
    }
    .mainCreditField > label >span{
        font-size: 18px;
        font-weight: 400;
        line-height: 21.09px;
        text-align: left;
    }
    .otherField > label >span{
        font-size: 18px;
        font-weight: 400;
        line-height: 21.09px;
        text-align: left;
    }
    .checkoutFieldSection {
        height: auto;
        gap: 44px;
    }
    .checkoutTitleField {
        height: auto;
    }
    .checkoutInputsFirstField {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 16px;
    }
    .checkoutInputsSecondField > span{
        font-size: 18px;
        font-weight: 600;
        line-height: 21.09px;
        text-align: left;
    }
    .courseManualPriceFieldInfo > span{
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        text-align: left;
    }
    .courseManualPriceFieldPay{
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        text-align: left;
    }
    .courseManualPriceField {
        width: 431px;
    }
    .checkoutInputsSecondField {
        height: 150px;
    }
    .checkoutCreditOtherField {
        height: max-content;
    }
    .checkoutInputsSectionRightField {
        width: 313px;
        height: 200px;
        margin-top: 40px;
    }
    .sumTitle{
        font-size: 18px;
        font-weight: 600;
        line-height: 21.09px;
        text-align: left;
    }
    .sumPriceAll{
        font-size: 18px;
        font-weight: 400;
        line-height: 21.09px;
        text-align: left;
    }
    .checkoutTotalFieldInfoTop > p{
        font-size: 10px;
        font-weight: 400;
        line-height: 11.72px;
        text-align: left;
    }
    .checkoutTotalFieldInfoBottom > button > span{
        font-size: 10px;
        font-weight: 500;
        line-height: 11.72px;
        text-align: center;
    }
    .checkoutTotalFieldInfo {
        width: auto;
        height: 143px;
    }
    .checkoutTotalFieldInfoTop > p > a{
        font-size: 10px;
        font-weight: 400;
        line-height: 11.72px;
        text-align: left;
    }
    .checkoutInputsCreditField ,
    .checkoutInputLeftField,
    .checkoutInputRightField{
        height: 78px;
    }
    .checkoutInputsCreditField > input,
    .checkoutInputLeftField > input,
    .checkoutInputRightField > input{
        height: 49px;
    }
    .checkoutCheckboxCreditField > label{
        font-size: 10px;
        font-weight: 400;
        line-height: 11.72px;
        text-align: left;
    }
}
@media screen and (max-width: 1100px){
    .myCardImageBlock .span2_2 {
        font-family: 'Roboto';
        font-size: 10px;
        font-weight: 400;
        line-height: 11.72px;
        text-align: left;
    }
    .myCardImageBlock .spanAmd {
        font-family: 'Roboto';
        font-size: 8px;
        font-weight: 400;
        line-height: 9.38px;
        text-align: left;
    }
    .myCardNameRating img {
        width: 8px;
        height: 8px;
    }
    .rightContentMyCard {
        width: 26%;
        height: 30px;
    }
    .myCoursesProfileField {
        margin: 0;
        height: 300px;
    }
    .myCoursesFieldSection {
        height: 260px;
    }
    .myCoursesFieldSectionLeft {
        height: 250px;
    }
    .myCardInfoTextIconFirst > span, .myCardInfoTextIconSecond > span{
        font-size: 8px;
        font-weight: 500;
        line-height: 9.92px;
        text-align: left;
    }
    .myCardInfoButtonField > button > img {
        width: 71px;
        height: 30px;
    }
    .myCardInfoButtonField > button > span{
        font-size: 10px;
        font-weight: 500;
        line-height: 11.72px;
        text-align: center;
    }
    .myCardBlockButtons > span{
        margin-left: 22px;
        font-size: 15px;
        font-weight: 400;
        line-height: 17.58px;
        text-align: left;
    }
    .myCardTotalPrice {
        flex-direction: column;
    }
    .myCardTotalPrice > span{
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.09px;
        text-align: left;
    }
    .myCardTotalPrice > button > a{
        font-size: 12px;
        font-weight: 500;
        line-height: 14.06px;
        text-align: center;
    }
    .myCardTotalPrice img{
        width: 80px;
        height: 34px;
    }
    .totalPriceFieldSection{
        width: 100%;
        height: 96px;
    }
    .myCardTotalPrice{
        height: 71px;
    }
    .myCardFieldAcceptCourses {
        height: 400px;
    }
    .myCoursesBlocksField {
        height: 300px;
    }
    .myCoursesBlocksFieldMain {
        height: 290px;
    }
    .myCardBlocksField {
        height: 95%;
    }
    .myCardFieldAcceptCourses {
        grid-auto-columns: calc((100% / 2 - 17px));
    }
    .cardCourses {
        width: 460px;
    }
    .myCardBlockButtons {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: start;
    }
    .myCardBlockButtons {
        height: 53px;
    }
    .myCardContent {
        gap: 43px;
    }
    .userProfileMenu {
        width: 400px;
    }
}
@media screen and (max-width: 1000px){
    .myCoursesBlocksField {
        height: 300px;
    }
    .myCoursesBlocksFieldMain {
        height: 280px;
    }
}