.personelManagement{
    width: 100%;
    height: 1490px;
    background-image: url("../images/background-personnel-managment.png");
    background-repeat: no-repeat;
    padding-top: 198px;
}
.backButton{
    display: none;
}
.topDivFlex{
    width: 83.8%;
    margin: 40px 0 0 auto;
}
.bottomDiv{
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 0 auto;
    padding-top: 41px;
    gap: 11.4%;
}
.topDiv{
    width: 69%;
}
.titleMan{
    justify-content: flex-start;
    align-items: center;
    font-family: "Roboto Slab", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    color: #F36528;
    width: auto;
    height: 58px;
    display: flex;
    padding-left: 16.666%;
}
.infotxt{
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 0;
}
.rightImg{
    width: 469.52px;
    height: 353.73px;
    float: right;
    margin-top: 4.5%;
    margin-left: 16%;
    border-radius: 30px;
}
.leftDipl{
    width: auto;
    max-width: 491.36px;
}
.rightImgBottom{
    width: auto;
}
.card_ {
    width: 296px;
    height: 352px;
    padding: 38px 34px 38px 34px;
    border-radius: 30px;
    margin-top: 40px;
    border: 1px solid #0000000D;
    text-align: center;
    background: #FFFFFF24;

}
.card-image {
    max-height: 80px;
}
.card-image img{
    max-width: 100%;
    height: auto;
}
.card-info{
    padding: 10px 20px 20px;
}
.nameCard{
    color: #F16D35;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
.textCard{
    /*width: 208.26px;*/
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.card_:hover{
    background: #FFFFFF5C;
}
.divBottom{
    padding: 0 16.666%;
}
.bottomImages{
    width: 66%;
    margin: 0px auto;
    padding-top: 48px;
    display: flex;
    justify-content: end;
    gap: 35px;
}
.leftDipl span{
    color: #F36528;
    font-family: "Roboto Slab",sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.leftDipl img {
    width: 100%;
    height: auto;
    padding-top: 40px;
}
.rightImgBottom span{
    color: #F36528;
    font-family: 'Roboto Slab';
    font-size: 24px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;

}
.managementBtnDiv{
    width: max-content;
    position: relative;
}
.managementBtnDiv > button{
    background: transparent;
    border: none;
}
.managementBtnDiv > button:hover img{
    content: url("../images/buycoursebtnhover.png");
}
.managementBtnDiv > button > img{
    position: relative;
}
.managementBtnDiv > button > span{
    font-size: 16px;
    font-weight: 700;
    font-family: "Tahoma", sans-serif;
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    text-align: center;
}
seeallcoursehover
.managementBtnDiv > button:hover span{
    color: white;
}
.managementBtnDiv .button1{
    color: #F36528;
}
.managementBtnDiv .button2{
    color: white;
}
@media screen and (max-width: 1400px) {
    .divBottom {
        padding: 0 0 0 16.666%;
    }
    .card_ {
        margin-top: 24px;
    }
    .rightImg {
        margin-left: 3%;
        width: 333.42px;
        height: 251.19px;
    }
}
@media screen and (max-width: 1180px) {
    .divBottom {
        padding: 0 0 0 16.666%;
    }
    .bottomDiv {
        gap: 3.4%;
    }
    .card_ {
        margin-top: 24px;
    }
}
@media screen and (max-width: 1100px) {
    .personelManagement {
        height: 1366px;
        padding-top: 61px;
    }
    .titleMan{
        font-family: "Roboto Slab",sans-serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 58px;
        text-align: left;
        color: #F36528;
        width: auto;
        padding-top: 28px;
        padding-left: 6.8%;
        padding-right: 6.9%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .backButton {
        width: 20.02px;
        height: 19.99px;
        display: block;
    }
    .topDivFlex{
        width: 100%;
        padding-left: 6.8%;
        padding-right: 6.9%;
    }
    .infotxt{
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        margin-top: 26px;
    }
    .divBottom{
        padding-left: 6.8%;
        padding-right: 6.9%;
        padding-top: 3%;
    }
    .leftDipl {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .leftDipl span {
        order: 2;
        font-family: 'Roboto Slab';
        font-size: 16px;
        font-weight: 400;
        line-height: 44px;
        text-align: center;
    }
    .leftDipl img {
        order: 1;
        width: 392px;
        height: 294px;
        border-radius: 30px;
        padding-top: 0;
    }
    .rightImgBottom {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rightImgBottom span {
        order: 2;
        font-family: 'Roboto Slab';
        font-size: 16px;
        font-weight: 400;
        line-height: 44px;
        text-align: center;
    }
    .rightImgBottom .card_ {
        order: 1;
        width: 223px;
        height: 295px;
        border-radius: 30px;
        padding: 0;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nameCard{
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
    }
    .textCard{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        width: 100%;
    }
    .card-info{
        padding: 0;
    }
    .bottomImages{
        justify-content: center;
        padding-top: 39px;
    }
    .managementBtnDiv > button > img {
        position: relative;
        width: 130px;
        height: 56px;
    }
    .managementBtnDiv > button > span {
        font-family: 'Roboto';
        font-size: 13px;
        font-weight: 900;
        line-height: 15.23px;
        left: 22px;
    }
    .bottomDiv{
        padding-top: 0;
    }
}
@media screen and (max-width: 800px) {
    .bottomImages {
         padding-top: 10px;
    }
    .brNone{
        display: none;
    }
}


/* Like style*/
.like-button,
.like-button:before,
.like-button:after,
.like-button .like-wrapper,
.like-button .like-wrapper .ripple,
.like-button .like-wrapper .heart,
.like-button .like-wrapper .particles,
.like-button,
.like-button:before,
.like-button:after,
.like-button .like-wrapper,
.like-button .like-wrapper .ripple,
.like-button .like-wrapper .heart,
.like-button .like-wrapper .particles:before,
.like-button,
.like-button:before,
.like-button:after,
.like-button .like-wrapper,
.like-button .like-wrapper .ripple,
.like-button .like-wrapper .heart,
.like-button .like-wrapper .particles:after {
    position: relative;
    box-sizing: border-box;
}

.like-button {
    --color-bg: #F36528;
    --color-heart: #ffffff;
    --easing: cubic-bezier(.7,0,.3,1);
    --duration: .5s;
}

.like-button .like-wrapper .particles {
    --total-particles: 6;
}

.like-button .like-wrapper .particle {
    --i: 1;
}

.like-button .like-wrapper .particle:nth-child(2) {
    --i: 2;
}

.like-button .like-wrapper .particle:nth-child(3) {
    --i: 3;
}

.like-button .like-wrapper .particle:nth-child(4) {
    --i: 4;
}

.like-button .like-wrapper .particle:nth-child(5) {
    --i: 5;
}

.like-button .like-wrapper .particle:nth-child(6) {
    --i: 6;
}

.like-button {
    /*font-size: 35vmin;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 50%;
    background: white;
    width: 1.25em;
    height: 1.25em;
    padding: 0;
    margin-left: 42px;
    outline: none;
    z-index: 2;
    -webkit-transition: -webkit-transform var(--duration) var(--easing);
    transition: -webkit-transform var(--duration) var(--easing);
    transition: transform var(--duration) var(--easing);
    transition: transform var(--duration) var(--easing), -webkit-transform var(--duration) var(--easing);
    cursor: pointer;
}
.like-button:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.3);
    border-radius: inherit;
    -webkit-transition: inherit;
    transition: inherit;
}
.like-button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #81B1B4;
    border-radius: inherit;
    z-index: -1;
}
.like-button:active:before {
    -webkit-animation: depress-shadow var(--duration) var(--easing) both;
    animation: depress-shadow var(--duration) var(--easing) both;
}
.like-button:focus:after {
    -webkit-animation: depress var(--duration) var(--easing) both;
    animation: depress var(--duration) var(--easing) both;
}
@-webkit-keyframes depress {
    from, to {
        -webkit-transform: none;
        transform: none;
    }
    50% {
        -webkit-transform: translateY(5%) scale(0.9);
        transform: translateY(5%) scale(0.9);
    }
}
@keyframes depress {
    from, to {
        -webkit-transform: none;
        transform: none;
    }
    50% {
        -webkit-transform: translateY(5%) scale(0.9);
        transform: translateY(5%) scale(0.9);
    }
}
@-webkit-keyframes depress-shadow {
    from, to {
        -webkit-transform: none;
        transform: none;
    }
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@keyframes depress-shadow {
    from, to {
        -webkit-transform: none;
        transform: none;
    }
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}
.like-wrapper {
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
}
.like-wrapper > * {
    margin: auto;
    grid-area: 1 / 1;
}

.heart {
    width: .68em;
    height: .6em;
    display: block;
    -webkit-transform-origin: center 80%;
    transform-origin: center 80%;
}
.heart > path {
    stroke: var(--color-heart);
    stroke-width: 2;
    fill: transparent;
    -webkit-transition: fill var(--duration) var(--easing);
    transition: fill var(--duration) var(--easing);
}
.like-button:focus .heart > path {
    fill: var(--color-bg);
    stroke: var(--color-bg);
}
.like-button:focus .heart {
    -webkit-animation: heart-bounce var(--duration) var(--easing);
    animation: heart-bounce var(--duration) var(--easing);
}
@-webkit-keyframes heart-bounce {
    40% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    0%, 80%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes heart-bounce {
    40% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    0%, 80%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/* Added wrapper to prevent layout jank with resizing particles */
.particles {
    width: 1px;
    height: 1px;
}

.particle {
    position: absolute;
    top: 0;
    left: 0;
    height: .1em;
    width: .1em;
    border-radius: .05em;
    background-color: var(--color);
    --percentage: calc( var(--i) / var(--total-particles) );
    --Θ: calc( var(--percentage) * 1turn );
    -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0) scaleY(0);
    transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0) scaleY(0);
    -webkit-transition: all var(--duration) var(--easing);
    transition: all var(--duration) var(--easing);
}
.like-button:focus .particle {
    -webkit-animation: particles-out calc(var(--duration) * 1.2) var(--easing) forwards;
    animation: particles-out calc(var(--duration) * 1.2) var(--easing) forwards;
}
@-webkit-keyframes particles-out {
    50% {
        height: .3em;
    }
    50%, 60% {
        height: .3em;
        -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
        transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
    }
    60% {
        height: .2em;
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
        transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
    }
}
@keyframes particles-out {
    50% {
        height: .3em;
    }
    50%, 60% {
        height: .3em;
        -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
        transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
    }
    60% {
        height: .2em;
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
        transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
    }
}
.ripple {
    height: 1.25em;
    width: 1.25em;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}
.ripple:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.4em solid var(--color-heart);
    border-radius: inherit;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.like-button:focus .ripple:before {
    -webkit-animation: ripple-out var(--duration) var(--easing);
    animation: ripple-out var(--duration) var(--easing);
}
@-webkit-keyframes ripple-out {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(5);
        transform: scale(5);
    }
}
@keyframes ripple-out {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(5);
        transform: scale(5);
    }
}
/* Reset the animation when clicking again! */
/*.like-button:focus {*/
/*    pointer-events: none;*/
/*    cursor: pointer;*/
/*}*/