.personelManagement{
    width: 100%;
    height: 1490px;
    background-image: url("../images/background-personnel-managment.png");
    background-repeat: no-repeat;
    padding-top: 198px;
}
.backButton{
    display: none;
}
.topDivFlex{
    width: 83.8%;
    margin: 40px 0 0 auto;
}
.bottomDiv{
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 0 auto;
    padding-top: 41px;
    gap: 11.4%;
}
.topDiv{
    width: 69%;
}
.titleMan{
    justify-content: flex-start;
    align-items: center;
    font-family: "Roboto Slab", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    color: #F36528;
    width: auto;
    height: 58px;
    display: flex;
    padding-left: 16.666%;
}
.likeButton{
    width: 43.58px;
    height: 43.58px;
    margin-left: 42px;
}
.infotxt{
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 0;
}
.rightImg{
    width: 469.52px;
    height: 353.73px;
    float: right;
    margin-top: 4.5%;
    margin-left: 16%;
    border-radius: 30px;
}
.leftDipl{
    width: auto;
    max-width: 491.36px;
}
.rightImgBottom{
    width: auto;
}
.card_ {
    width: 296px;
    height: 352px;
    padding: 38px 34px 38px 34px;
    border-radius: 30px;
    margin-top: 40px;
    border: 1px solid #0000000D;
    text-align: center;
    background: #FFFFFF24;

}
.card-image {
    max-height: 80px;
}
.card-image img{
    max-width: 100%;
    height: auto;
}
.card-info{
    padding: 10px 20px 20px;
}
.nameCard{
    color: #F16D35;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
.textCard{
    /*width: 208.26px;*/
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.card_:hover{
    background: #FFFFFF5C;
}
.divBottom{
    padding: 0 16.666%;
}
.bottomImages{
    width: 66%;
    margin: 0px auto;
    padding-top: 48px;
    display: flex;
    justify-content: end;
    gap: 35px;
}
.leftDipl span{
    color: #F36528;
    font-family: "Roboto Slab",sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.leftDipl img {
    width: 100%;
    height: auto;
    padding-top: 40px;
}
.rightImgBottom span{
    color: #F36528;
    font-family: 'Roboto Slab';
    font-size: 24px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;

}
.managementBtnDiv{
    width: max-content;
    position: relative;
}
.managementBtnDiv > button{
    background: transparent;
    border: none;
}
.managementBtnDiv > button:hover img{
    content: url("../images/buycoursebtnhover.png");
}
.managementBtnDiv > button > img{
    position: relative;
}
.managementBtnDiv > button > span{
    font-size: 16px;
    font-weight: 700;
    font-family: "Tahoma", sans-serif;
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    text-align: center;
}
seeallcoursehover
.managementBtnDiv > button:hover span{
    color: white;
}
.managementBtnDiv .button1{
    color: #F36528;
}
.managementBtnDiv .button2{
    color: white;
}
@media screen and (max-width: 1400px) {
    .divBottom {
        padding: 0 0 0 16.666%;
    }
    .card_ {
        margin-top: 24px;
    }
    .rightImg {
        margin-left: 3%;
        width: 333.42px;
        height: 251.19px;
    }
}
@media screen and (max-width: 1180px) {
    .divBottom {
        padding: 0 0 0 16.666%;
    }
    .bottomDiv {
        gap: 3.4%;
    }
    .card_ {
        margin-top: 24px;
    }
}
@media screen and (max-width: 1100px) {
    .personelManagement {
        height: 1366px;
        padding-top: 61px;
    }
    .titleMan{
        font-family: "Roboto Slab",sans-serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 58px;
        text-align: left;
        color: #F36528;
        width: auto;
        padding-top: 28px;
        padding-left: 6.8%;
        padding-right: 6.9%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .backButton {
        width: 20.02px;
        height: 19.99px;
        display: block;
    }
    .likeButton{
        width: 32.6px;
        height: 32.6px;
    }
    .topDivFlex{
        width: 100%;
        padding-left: 6.8%;
        padding-right: 6.9%;
    }
    .infotxt{
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        margin-top: 26px;
    }
    .divBottom{
        padding-left: 6.8%;
        padding-right: 6.9%;
        padding-top: 3%;
    }
    .leftDipl {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .leftDipl span {
        order: 2;
        font-family: 'Roboto Slab';
        font-size: 16px;
        font-weight: 400;
        line-height: 44px;
        text-align: center;
    }
    .leftDipl img {
        order: 1;
        width: 392px;
        height: 294px;
        border-radius: 30px;
        padding-top: 0;
    }
    .rightImgBottom {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rightImgBottom span {
        order: 2;
        font-family: 'Roboto Slab';
        font-size: 16px;
        font-weight: 400;
        line-height: 44px;
        text-align: center;
    }
    .rightImgBottom .card_ {
        order: 1;
        width: 223px;
        height: 295px;
        border-radius: 30px;
        padding: 0;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nameCard{
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
    }
    .textCard{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        width: 100%;
    }
    .card-info{
        padding: 0;
    }
    .bottomImages{
        justify-content: center;
        padding-top: 39px;
    }
    .managementBtnDiv > button > img {
        position: relative;
        width: 130px;
        height: 56px;
    }
    .managementBtnDiv > button > span {
        font-family: 'Roboto';
        font-size: 13px;
        font-weight: 900;
        line-height: 15.23px;
        left: 22px;
    }
    .bottomDiv{
        padding-top: 0;
    }
}
@media screen and (max-width: 800px) {
    .bottomImages {
         padding-top: 10px;
    }
    .brNone{
        display: none;
    }
}