/*Harut*/

@font-face {
    font-family: "Roboto_";
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "RobotoSlab_";
    src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}
@font-face {
    font-family: "MontserratArm_";
    src: url("../fonts/Roboto-Regular.ttf");
}