.mapField{
    background-image: url("../images/mapField.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1088px;
    width: 100%;
}
.mapFieldSection{
    height: 940px;
    width: 67%;
    padding-top: 240px;
    border: 1px solid;
    margin: 0px auto;
}
.mapFieldSection > span{
    text-transform: uppercase;
}