@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.usersProfile{
    width: 100%;
    height: 1061px;
    background-image: url("../images/userProfileBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.userProfileSection{
    width: 67%;
    height: 541px;
    position: absolute;
    margin: 212px 16.5% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.userProfileMenuField{
    width: 100%;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.userProfileMenuField > span{
    font-family: "Roboto Slab",sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #F36528;
}
.userProfileMoreAboutField{
    width: 406px;
    height: 252px;
    border-radius: 30px;
    background: #74A8AB;
    box-shadow: 0px 1px 6px 1px #57939B;
}
.userProfileMenu{
    width: 506px;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.userProfileMenu > li > a{
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab",sans-serif;
}
.fieldMoreAbout{
    width: 265px;
    height: 92px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fieldMoreAbout > span{
    font-family: "Roboto",sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: white;
}
.userCreateBg{
    width: 100%;
    height: 1061px;
    background-image: url("../images/userCreateBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.userCreateField{
    width: 67%;
    height: 745px;
    position: absolute;
    margin: 212px 16.5% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.userCreateFieldForms{
    width: 83%;
    height: 618px;
    background: #74A8AB;
    border-radius: 30px;
}
.userCreateFieldForms > form{
    width: 80%;
    height: 519px;
    margin: 49px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.userPhotoFields{
    width: 250px;
    height: 250px;
    background: #5D9A9D;
    border-radius: 50%;
    margin-right: 20px;
}
.userInputsFields{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.userFormsInput{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 85px;
}
.userFormsInput > label{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    color: white;
    margin-left: 11px;
}
.userFormsInput > input{
    width: 100%;
    height: 64px;
    background: #5D9A9D;
    border-radius: 15px;
    border:none;
    outline: none;
    padding: 0px 26px;
    color: white;
    font-size: 16px;
}
.userFormsBtn{
    margin-top: 24px;
}
.userFormsBtn > button{
    background: transparent;
    border: none;
}
.userFormsBtn > button{
    position: relative;
}
.userFormsBtn > button > span{
    position: absolute;
    left: 0;
    font-size: 12px;
    font-family: "Roboto",sans-serif;
    color: #F36528;
    margin: 11px 33px;
    font-weight: 500;
}
.userPhotoFields > span{
    position: absolute;
    font-family: "Roboto",sans-serif;
    color: white;
    font-size: 23px;
    margin: 108px 5.7%;
}
.userPhotoFields > span:hover{
    cursor: pointer;
}
.userPhotoFields > input{
    display: none;
}
.attachCv{
    width: 100px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px 24px 11px;
}
.attachCv > span{
    color: white;
}
.cvFile{
    display: none;
}
.cvFileField{
    width: 100%;
    height: 64px;
    background: #5D9A9D;
    border-radius: 15px;
}
.attachCv:hover{
    cursor: pointer;
}