@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.usersProfile{
    width: 100%;
    height: 1061px;
    background-image: url("../images/userProfBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.userProfileSection{
    width: 67%;
    height: 541px;
    position: absolute;
    margin: 212px 16.5% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.userProfileMenuField{
    width: 100%;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.userProfileMenuField > span{
    font-family: "Roboto Slab",sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #F36528;
}
.userProfileMoreAboutField{
    width: 406px;
    height: 252px;
    border-radius: 30px;
    background: #74A8AB;
    box-shadow: 0px 1px 6px 1px #57939B;
}
.userProfileMenu{
    width: 506px;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.userProfileMenu > li > a{
    text-decoration: none;
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.fieldMoreAbout{
    width: 265px;
    height: 92px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fieldMoreAbout > span{
    font-family: "Roboto",sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: white;
}
.userCreateBg{
    width: 100%;
    height: 1061px;
    background-image: url("../images/userCreateBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.userCreateField{
    width: 67%;
    height: 745px;
    position: absolute;
    margin: 212px 16.5% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.userCreateFieldForms{
    width: 83%;
    height: 618px;
    background: #74A8AB;
    border-radius: 30px;
    box-shadow: 0px 0px 6px 2px #549099;
}
.userCreateFieldForms > form{
    width: 80%;
    height: 519px;
    margin: 49px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.userPhotoFields{
    width: 250px;
    height: 250px;
    background: #5D9A9D;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.userPhotoFields > img{
    border-radius: 50%;
}
.userInputsFields{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.userFormsInput{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 85px;
}
.userFormsInput > label{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin-left: 11px;
}
.userFormsInput > input{
    width: 100%;
    height: 64px;
    background: #5D9A9D;
    border-radius: 15px;
    border:none;
    outline: none;
    padding: 0px 26px;
    color: white;
    font-size: 16px;
}
.userFormsBtn{
    margin-top: 24px;
}
.userFormsBtn > button{
    background: transparent;
    border: none;
}
.userFormsBtn > button{
    position: relative;
}
.userFormsBtn > button > span{
    position: absolute;
    left: 0;
    font-size: 12px;
    font-family: "Roboto",sans-serif;
    color: #F36528;
    margin: 11px 33px;
    font-weight: 500;
}
.userPhotoFields > span{
    /*position: absolute;*/
    font-family: "Roboto",sans-serif;
    color: white;
    font-size: 23px;
    /*margin: 108px 72px;*/
    top: 0;
}
.userPhotoFields > span:hover{
    cursor: pointer;
}
.userPhotoFields > input{
    display: none;
}
.attachCv{
    width: 100px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px 24px 11px;
}
.attachCv > span{
    font-family: "Roboto",sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}
.cvFile{
    display: none;
}
.cvFileField{
    width: 100%;
    height: 64px;
    background: #5D9A9D;
    border-radius: 15px;
}
.attachCv:hover{
    cursor: pointer;
}
.usersAchievements{
    width: 100%;
    height: 1061px;
    background-image: url("../images/background-achievements.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.userAchievementsSection{
    width: 67%;
    height: 738px;
    position: absolute;
    margin: 212px 16.5% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.profilBody{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 118.03px;
}
.myCoursesProfileField{
    width: 405px;
    height: 533px;
    margin-right: 20px;
    background: #74A8AB;
    border-radius: 30px;
    box-shadow: 0px 0px 6px 2px #549099;
}
.myCoursesFieldSection{
    width: 291px;
    height: 459px;
    margin: 37px 36px 37px 78px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.myCoursesFieldSectionLeft{
    width: 250px;
    height: 459px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.myCoursesFieldSectionLeft > span{
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.myCoursesFieldSectionLeft > img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.usersProfileInfo{
    width: 249px;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.usersProfileInfoPhone > span{
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 37px;
    color: white;

}
.usersProfileInfoEmail > span{
    font-family: "Roboto",sans-serif;
    margin-left: 37px;
    font-size: 20px;
    font-weight: 400;
    color: white;

}
.usersProfileInfoLinkdin > span{
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    margin-left: 37px;
    color: white;
    font-weight: 400;
}


.certificate{
    width: 624px;
    height: 529px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.cartificateImg{
    background: #FFFFFF24;
    width: 624.07px;
    height: 468.05px;
    border-radius: 30px;
    box-shadow: 0px 0px 6px 2px #549099;

}
.cartificateImg img{
    padding: 45.08px 44.84px;
}

.certificate span{
    font-family: "Roboto Slab",sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    text-align: left;
    color: #FFFFFF;
}
.cartificateImgTxt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 31px;
}
.profilBody_{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 67px;
}
.usersCard_{
    width: 405px;
    height: 532.72px;
    top: 374.19px;
    left: 320.04px;
    padding: 37px 36px 37px 78px;
    border-radius: 30px;
    background: #FFFFFF24;
}
.usersCardHead_{
    display: flex;
    position: relative;
}
.userAchievementsEditLeft > span {
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.sameInfo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.sameInfo > span{
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-left: 42px;
}
.cartificateImg_{
    background: #FFFFFF24;
    width: 624.07px;
    height: 468.05px;
    border-radius: 30px;
}
.cartificateImg_ img{
    padding: 45.08px 44.84px;
}
.certificate_ span{
    font-family: Roboto Slab;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    text-align: left;
    color: #FFFFFF;
}
.cartificateImgTxt_{
   padding: 29px 31px 0px 31px;
}
.usersCardMain_{
    width: 250px;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userCreateFieldForms_{
    width: 83%;
    height: 618px;
    background: #74A8AB;
    border-radius: 30px;
    box-shadow: 0px 0px 6px 2px #549099;
}
.userCreateFieldForms_ > form{
    width: 80%;
    height: 519px;
    margin: 49px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.userAchievementsEditLeft{
    margin-right: 20px;
    width: 250px;
    height: 458px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.userInputsFields_{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.userFormsInput_{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 85px;
}
.userFormsInput_ > label{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin-left: 11px;
}
.userFormsInput_ > input{
    width: 100%;
    height: 64px;
    background: #5D9A9D;
    border-radius: 15px;
    border:none;
    outline: none;
    padding: 0px 26px;
    color: white;
    font-size: 16px;
}
.userFormsBtn_{
    margin-top: 24px;
}
.userFormsBtn_ > button{
    background: transparent;
    border: none;
}
.userFormsBtn_ > button{
    position: relative;
}
.userFormsBtn_ > button > span{
    position: absolute;
    left: 0;
    font-size: 13px;
    font-family: "Roboto",sans-serif;
    color: #F36528;
    margin: 10px 33px;
    font-weight: 500;
}

.attachCvEdit{
    width: 100px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px 24px 11px;
}
.attachCvEdit > span{
    color: white;
    text-decoration: underline;
}
.cvFileEdit{
    display: none;
}
.cvFileFieldEdit{
    width: 100%;
    height: 64px;
    background: #5D9A9D;
    border-radius: 15px;
}
.attachCvEdit:hover{
    cursor: pointer;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.middle > input{
    display: none;
}
.usersCardHead_:hover .cardImg_ {
    opacity: 0.5;
}
.usersCardHead_:hover .middle {
    opacity: 1;
}
.editPhoto{
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: white;
}
.editPhoto:hover{
    cursor:pointer;
}
@media screen and (max-width: 1600px) {
    .certificate {
        justify-content: center;
    }
    .cartificateImg {
         width: auto;
         height: auto;
    }
    .cartificateImg img {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 1400px){
    .userCreateFieldForms {
        width: 100%;
        height: auto;
    }
    .userCreateFieldForms > form {
        width: 90%;
    }
}
@media screen and (max-width: 1300px) {
    .userAchievementsSection {
        justify-content: flex-start;
    }
    .profilBody {
         padding-top: 70px;
    }
    .myCoursesProfileField {
        width: 330px;
    }
    .myCoursesFieldSection {
        margin: 37px 33px 37px 22px;
    }
    .myCoursesFieldSectionLeft > img {
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width: 1100px) {
    .userProfileSection, .userCreateField, .userAchievementsSection{
        width: -webkit-fill-available;
        margin: 95px 6.9% 0px 6.8%;
        gap: 56px;
    }
    .userProfileMenuField > span {
        font-size: 32px;
    }
    .userProfileMenuField > span{
        font-size: 22px;
        font-weight: 600;
        line-height: 29.01px;
        text-align: left;
    }
    .userProfileMenu {
        width: 400px;
    }
    .userProfileMenu > li > a{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        text-align: left;
    }
    .fieldMoreAbout > span{
        font-size: 18px;
        font-weight: 500;
        line-height: 21.09px;
        text-align: left;
    }
    .userAchievementsSection {
        gap: 70px;
        align-items: start;
    }
    .profilBody {
        width: 85%;
        padding-top: 0;
        align-items: flex-start;
    }
    .userProfileMoreAboutField{
        width: 314.96px;
        height: 152.46px;
    }
    .fieldMoreAbout {
        margin: 30px auto;
    }
    .userCreateFieldForms {
        width: 79%;
        height: 686px;
    }
    .userCreateFieldForms > form {
        height: auto;
        flex-direction: column;
        margin: 28px auto;
    }
    .userPhotoFields {
        width: 137px;
        height: 137px;
        margin-right: 0;
    }
    .userPhotoFields > span{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        text-align: left;
    }
    .userInputsFields {
        margin-top: inherit;
        align-items: center;
    }
    .userFormsInput {
        height: 75px;
    }
    .userFormsInput > input {
        height: 52px;
    }
    .cvFileField {
        height: 52px;
    }
    .myCoursesProfileField {
        width: 203px;
        height: 264px;
    }
    .myCoursesProfileField{
        margin-right: 0;
    }
    .usersProfileInfo {
        width: 166px;
        height: auto;
    }
    .myCoursesFieldSectionRight img{
        width: 15.18px;
        height: 15.18px;
    }
    .myCoursesFieldSectionLeft > span{
        font-size: 14px;
        font-weight: 600;
        line-height: 16.41px;
        text-align: center;
    }
    .myCoursesFieldSectionLeft > img{
        width: 93px;
        height: 94px;
    }
    .myCoursesFieldSection {
        width: 162px;
        height: 224px;
        margin: 22px 35px 34px 17px;
    }
    .myCoursesFieldSectionLeft {
        width: auto;
        height: 220px;
    }
    .usersProfileInfoPhone > span{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        text-align: left;
        margin-left: 16px;
    }
    .usersProfileInfoPhone img,
    .usersProfileInfoEmail img,
    .usersProfileInfoLinkdin img{
        width: 22px;
        height: 22px;
    }
    .usersProfileInfoEmail > span{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        text-align: left;
        margin-left: 16px;
    }
    .usersProfileInfoLinkdin > span{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        text-align: left;
        margin-left: 16px;
    }
    .certificate {
        width: 317px;
        height: 300px;
    }
    .cartificateImg{
        width: 317.02px;
        height: 237.76px;
    }
    .certificate span{
        font-size: 14px;
        font-weight: 500;
        line-height: 18.2px;
        text-align: left;
    }
    .cartificateImgTxt img{
        width: 17.52px;
        height: 18.69px;
    }
    .cartificateImg img {
        padding: 30.08px 30.84px;
    }
    .usersCardHead_ img{
        width: 133px;
        height: 134px;
    }
    .userAchievementsEditLeft > span{
        font-size: 14px;
        font-weight: 600;
        line-height: 16.41px;
        text-align: center;
    }
    .sameInfo > span{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        text-align: left;
        margin-left: 16px;
    }
    .usersCardMain_ img{
        width: 22px;
        height: 22px;
    }
    .userFormsInput_ > input {
        height: 52px;
    }
    .cvFileFieldEdit {
        height: 52px;
    }
    .userFormsBtn_ > button > span{
        font-size: 10px;
        font-weight: 500;
        line-height: 11.72px;
        text-align: left;
        margin: 15px 38px
    }
    .userAchievementsEditLeft {
        width: 162px;
        height: 357px;
    }
    .usersCardMain_ {
        width: auto;
        height: 117px;
    }
    .userFormsInput_ {
        height: 75px;
    }
    .userCreateFieldForms_ {
        width: 75%;
    }
    .userCreateFieldForms_ > form {
        width: 90%;
    }
    .attachCvEdit {
        margin: 18px 0px 18px 17px;
    }
    .profilBody_{
        padding-top: 0;
    }
}
@media screen and (max-width: 730px) {
    .profilBody {
        width: 90%;
    }
}
@media screen and (max-width: 680px) {
    .profilBody {
        width: 100%;
    }
}