@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.usersProfile{
    width: 100%;
    height: 1632px;
    background-image: url("../images/background-wishlist.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.userProfileSection{
    width: 67%;
    height: 541px;
    position: absolute;
    margin: 212px 16.5% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.userProfileMenuField{
    width: 100%;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.userProfileMenuField > span{
    font-family: "Roboto Slab",sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #F36528;
}
.userProfileMenu{
    width: 506px;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.userProfileMenu > li > a{
    text-decoration: none;
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-height: 400;
}

.myCoursesProfileField{
    width: 405px;
    height: 533px;
    margin-right: 20px;
    background: #74A8AB;
    border-radius: 30px;
    box-shadow: 0px 0px 6px 2px #549099;
}
.myCoursesFieldSection{
    width: 291px;
    height: 459px;
    margin: 37px 36px 37px 78px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.myCoursesFieldSectionLeft{
    width: 250px;
    height: 459px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.myCoursesFieldSectionLeft > span{
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.myCoursesFieldSectionLeft > img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.usersProfileInfo{
    width: 249px;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.usersProfileInfoPhone > span{
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 37px;
    color: white;

}
.usersProfileInfoEmail > span{
    font-family: "Roboto",sans-serif;
    margin-left: 37px;
    font-size: 20px;
    font-weight: 400;
    color: white;

}
.usersProfileInfoLinkdin > span{
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    margin-left: 37px;
    color: white;
    font-weight: 400;
}
.CoursesAndCategoriesCard{
    width: 68%;
    height: 1480px;
    /*display: grid;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
.mainContent{
    width: 100%;
    padding-top: 108px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
}
.topSlider{
    height: 540px;
    padding-left: 60px;
}
.changeBody1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 540px;
}
.topSlider .title{
    font-family: "Roboto Slab",sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 32.5px;
    text-align: center;
    color: #FFFFFF;
}
.applyNowBtnField{
    position: relative;
    width: max-content;
    padding-top: 53px;
}
.applyNowBtnField > button{
    background: transparent;
    border: none;
}
.applyNowBtnField > button > img{
    position: relative;
}
.applyNowBtnField > button > span > a{
    color: #F36528;
    margin: 11px 16px;
    position: absolute;
    left: 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: left;
    text-decoration: none;
}
hr{
    opacity: 1!important;
}
hr.new1 {
    width: auto;
    border: 3px solid #FFFFFF;
    margin-left: 60px;
}
.bottomSlider {
    display: flex;
    padding-top: 80px;
    padding-left: 60px;
}

.individualCards_ {
    border-radius: 30px;
    width: 377px;
    height: 482px;
}

.bottomSlider .carousel_ {
    display: grid;
    grid-auto-flow: column;
    gap: 44px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.bottomSlider ul {
    margin-top: 0;
    margin-bottom: 0rem!important;
    padding-left: 0; /* Reset default padding */
    list-style-type: none; /* Remove bullet points */
}

.carousel_::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.carousel_ :where(.card_) {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.cardsimg_ {
    height: 233px;
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.cardsimg_{
    height: 233px;
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.cardsimg_ > img{
    width: 100%;
    height: 100%;
}
.cardsText_{
    height: 247px;
    width: 100%;
    background: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.cardsTextField_{
    height: 227px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cardsTextInfo_{
    padding: 21px 5%;
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.cardsLike_{
    height: 43px;
    width: 74%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cardsLike_ > a{
    font-size: 19px;
    color: #F36528;
    font-weight: 500;
}
.cardsLike_ > img:hover{
    cursor:pointer;
}
.cardsInfo_{
    display: -webkit-box;
    font-size: 18px;
    color: #1C5484;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height:48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
.cardsDate_{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: #555555;
}
.articleDate_{
    margin-left: 10px;
}
.changeBody2{
    display: flex;
}
.changeBody2 ul {
    padding-left: 0rem!important;
}
.carousel_2{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 47%;
    gap: 54px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.card_2 {
    width: 100%;
    height: 481.45px;
    list-style: none;
    background: #FFFFFF24;
    border-radius: 30px;
    display: flex;
    padding: 16px 17px 16px 17px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
}
.carousel_2::-webkit-scrollbar {
    display: none;
}
.img_2{
    height: 50%;
}
.cardContent{
    width: 100%;
    height: 50%;
}
.img_2 img{
    width: 100%;
    height: 214px;
    border-radius: 30px 30px 0px 0px;
}
.card_2 .cardBody_2{
    display: flex;
    padding: 0 15px;
}
.starAndTxt_2{
    padding-left: 18px;
}
.cardCenter_2{
    width: 312.12px;
    height: 73.09px;
    margin-bottom: 16px;
}
.card_2 .cardBody_2 .span1_2{
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #FFFFFF;
}
.card_2 .cardBody_2 .span2_2{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: #FFFFFF;
}
.cardtxt1_2{
    width: 223.11px;
    height: 40px;
    margin-bottom: 5px;
}
.cardtxt1_2 span{
    font-family: Roboto Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.84px;
    text-align: left;
    color: #FFFFFF;
}
.cardtxt1_2 img{
    float: left;
    padding-right: 11px;
}
.cardtxt2_2{
    width: 312.12px;
    height: 28.09px;
}
.cardtxt2_2 span{
    font-family: Roboto Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.84px;
    text-align: left;
    color: #FFFFFF;
}
.cardtxt2_2 img {
    float: left;
    padding-right: 11px;
}
.card_2  .img {
    padding-bottom: 19px;
}
.card_2  .img img {
    width: 100%;
}